{% extends "base.html" %}

{% block extracss %}
<style type="text/css">
ul.errorlist {
  float: left;
  width: 560px;
  color: red;
  font-size: 13px;
  list-style-type: ;
  margin: 0 0 10px 20px;
  padding: 0;	
}

.button {
  font-size: 16px;
  width: 250px;	
  float: left;
  margin-left: 310px;
}


</style>
{% endblock %}


{% block content %}

<div id="top">
	<h1>Forgotten your password?</h1>
</div>

<p class="description">
	If you've forgotten your password, just enter the email address you used to register below, and we'll reset your password for you. You will be sent an email confirming your new password.
</p>


<form method="post" action=".">
  {{ form.as_p }}

  <input class="button" type="submit" value="Reset password" />
</form>
{% endblock %}
