{% extends "base.html" %}

{% block pagetitle %}Register{% endblock %}

{% block extracss %}
<style type="text/css">
div#left input.register-button {
    background: url("/images/register-button.png") no-repeat scroll left top transparent;
    border: medium none;
    float: right;
    height: 33px;
    margin: 10px 0 10px 0;
    width: 142px;
}

div#left input.register-button:hover {
  background: url('/images/register-button.png') no-repeat center left;	
  cursor: pointer;
}

div#left input.register-button:active {
  background: url('/images/register-button.png') no-repeat bottom left;
  cursor: pointer;	
}

</style>
{% endblock %}

{% block content %}

<div id="top">
<h1>Signup to {{ sitename|lower }}</h1>
</div>

<p class="description"><em>Registering for an account at laowailai.com allows you to post and answer questions, rate places, and add to your city's feed.</em></p>

{{ form.errors }}

<form method="post" action=".">
  <p><label>Choose a username <span>(what you'll be called on the site)</span></label>{{ form.name }}</p>
  <p><label>Your contact email <span>(will never be made public)</span></label>{{ form.email }}</p>
  <p><label>Choose a password</label>{{ form.password1 }}</p>
  
  <input type="submit" value="" class="register-button" />
</form>
<img style="float:left; position: relative; top: 10px; margin-right: 20px;" src="/images/lock-large.png"/>
<p style="float: left; width: 300px; font-size: 11px;">We will <strong>never</strong> pass on your private information to any other individual or company. Your information is stored securely, your password encrypted, and your email will never be displayed publicly. We hate spam just as much as you do!</p>

</div>
{% endblock %}
