{% extends "base.html" %}

{% block pagetitle %}Register{% endblock %}

{% block extracss %}
<style type="text/css">
div#left input.register {
  float: left;
  width: 280px;	
  margin: 20px 20px 0px 280px;
  font-size: 20px;
}

p.description {
    float: right;
    font-size: 19px;
    margin: 20px 0 10px;
    width: 290px;
    border-bottom: none;
}


</style>
{% endblock %}

{% block content %}

<div id="top">
<h1>Signup to {{ sitename|lower }}</h1>
</div>

<p class="description"><em>Registering for an account allows you to add to your city's feed, add and review places, and get notifications.</em></p>

{{ form.errors }}

<form method="post" action=".">
  <p><label>Choose a username <span>(what you'll be called on the site)</span></label>{{ form.name }}</p>
  <p><label>Your email address <span>(will never be made public)</span></label>{{ form.email }}</p>
  <p><label>Choose a password</label>{{ form.password1 }}</p>

<img style="float:left; position: relative; top: 0px; margin-right: 20px;" src="/images/lock-large.png"/>
<p style="float: left; width: 500px; font-size: 11px;">We will <strong>never</strong> pass on your private information to any other individual or company. Your information is stored securely, your password encrypted, and your email will never be displayed publicly. We hate spam just as much as you do!</p>
<br clear="all"/>
  
  <input type="submit" value="Register" class="register button" />
</form>
<br clear="all"/>

</div>
{% endblock %}
