{% extends "base.html" %}
{% load thumbnail %}

{% block metadescription %}The best place to share news and events for foreigners in Fuzhou, China.{% endblock %}
{% block pagetitle %}Home{% endblock %}

{% block extrajs %}
<script type="text/javascript">

$('#more').click(function() {
	$('a.hidden').toggle();
	$('#more').toggle();
	$('#choices a').blur();
});

</script>
{% endblock %}


{% block extracss %}
<style type="text/css">
a.hidden {
  display: none;	
}

a#more {
  font-weight: normal;	
}
</style>
{% endblock %}

{% block content %}

<div id="main">
	
	<h2>Choose your city in China</h2>
	
	<div class="whitebox">
		<div id="choices">
			{% for city in all_cities %}
 			<a {% if forloop.counter < 3 %}{% else %}class="hidden" {% endif %}href="{% url news_feed city.slug %}">
 				{{ city.name }} ({{ city.chinese_name }})
 				<span class="arrow"><img src="/images/mobile/rarrow.png"></span>
 			</a>
 			{% ifequal forloop.counter 2 %}
 			<a id="more" href="#">more…</a>
 			{% endifequal %}
			{% endfor %}
		</div>
	</div>
	
	<h2>Or do something else...</h2>
	<div class="whitebox">
		<div id="choices">
			<a href="">Search for a place<span class="arrow"><img src="/images/mobile/rarrow.png"></span></a>
			<a href="{% url add_place 'fuzhou' %}">Add a place<span class="arrow"><img src="/images/mobile/rarrow.png"></span></a>
			<a href="">About us<span class="arrow"><img src="/images/mobile/rarrow.png"></span></a>
		</div>
	</div>
	
</div>


{% endblock %}

