{% extends "base.html" %}
{% load thumbnail %}

{% block metadescription %}The best place to share news and events for foreigners in Fuzhou, China.{% endblock %}
{% block pagetitle %}Home{% endblock %}

{% block extrajs %}
<script type="text/javascript">

function openMap() {
  $('#overlay').fadeOut('20');
  $('.arrow').toggle(); 
  $("#map").animate({
    height: "500px",
    opacity: 1,
  }, 500, function() {
  
  $('#map_area').unbind('click');
  });
}

$('#expand').click(openMap);
$('#overlay').click(openMap);


$("input.search").focus(function() {
    if( $(this).val() == "What do you want to do?" ) {
        $(this).val("");
        $(this).css('color', '#333');
    }

});

$("input.search").blur(function() {
    if( $(this).val() == "" ) {
        $(this).val("What do you want to do?");
        $(this).css('color', '#999');
    }
});

</script>
{% endblock %}


{% block extracss %}
<style type="text/css">


</style>
{% endblock %}

{% block content %}

<div id="main">
	
	<h2>Choose your city in China</h2>
	
	<div class="whitebox">
		<div id="choices">
			{% for city in all_cities %}
 href="{% url news_feed city.slug %}">{{ city.name }} ({{ city.chinese_name }})<span class="arrow"><img src="/images/mobile/rarrow.png"></span></a>
			{% endfor %}
		</div>
	</div>
	
	<h2>Or do something else...</h2>
	<div class="whitebox">
		<div id="choices">
			<a href="">Search for a place<span class="arrow"><img src="/images/mobile/rarrow.png"></span></a>
			<a href="">Add a place<span class="arrow"><img src="/images/mobile/rarrow.png"></span></a>
			<a href="">About us<span class="arrow"><img src="/images/mobile/rarrow.png"></span></a>
		</div>
	</div>
	
</div>


{% endblock %}

