{% extends "base.html" %}
{% load thumbnail %}

{% block metadescription %}Choose your city in China to browse news, places and events from that city.{% endblock %}
{% block pagetitle %}Set your city{% endblock %}

{% block extracss %}
<style type="text/css">
div#cities {
  float: left;
  width: 100%;	
}

div#cities ul {
  list-style-type: none;
  padding: 0;
  margin: 0;	
}

div#cities ul li {
  float: left;
  width:560px;	
  margin-bottom: 20px;
}

div#cities ul li a.mark {
  height: 15px;
  width: 15px;
  display: block;
  background: url('/images/selected-city.png') no-repeat top left;
  float: left;
  margin-right: 5px;
  position: relative;
  top: 3px;	
}

div#cities ul li a.mark span {
  display: none;	
}

div#cities ul li span.selected {
  font-weight: bold;	
}

p.note {
  float: left;
  width: 100%;
  	
}
</style>
{% endblock %}

{% block content %}
<div id="top">
<h1>Choose a city to browse</h1>
</div>

<p class="description"><em>You can browse news and places from other cities by clicking on a city below{% if request.user.is_authenticated %} - this won't change your 'hometown' setting, so feel free to browse around.{% endif %}</em></p>

<div id="cities">
<ul>
{% for city in cities %}

  <li>
  	<a class="" href="{% url city city.slug %}">{{ city.name }} ({{ city.chinese_name }})</a>
  </li>

{% endfor %}
</ul>


<p class="note"><strong>Please note!</strong> This site is in a beta stage, so we do not have many cities setup yet. If you want your city to be registered, tell us by emailing mail@laowailai.com</p>
</div>







{% endblock %}
