div#container {
  margin-left: 50px;
  width: 1030px;
}

div#left {
  width: 600px;	
}

div#profile {
	
}

div#navigation {
  margin: 0 30px 0 0;
  float: left;	
}


div#iemessage {
	background-color: #14565E;
	height: 35px;
	color: #fff;
	text-align: center;
}

div#iemessage p {
  color: #fff;
  padding-top: 5px;	
}

div#iemessage a {
  color: #F67B7B;	
}