div#signup input#id_email {
  height: 40px	
}

div#signup p {
  width: 150px;	
}

div#left {
  float: left;
  width: 500px;	
  margin-left: 0;
}

div#left img.arrow, div#add-form img.arrow {

    left: -72px;

}