html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}


caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}del,ins{text-decoration:none;}


html {
  border: none;
  margin: none;
  padding: none;
  background-color: #dfecf1;	
}

body {
  font-family: Arial, sans-serif;	
  margin: 0;
  padding: 0;
}

/* links */

a img {
  border: none;	
}

a img:hover {
  opacity: 0.8;	
}

a {
  text-decoration: none;	
}

a:link, a:visited {
  color: #2d7886;
}

a:active, a:focus, a:hover  {
  color: #f67b7b;
}



.button {
	background-color: #f1f1f1;
    /* Firefox 3.6+ */ 
    background: -moz-linear-gradient(100% 100% 90deg, #e6e6e6, #f1f1f1); 
    /* Safari 4-5, Chrome 1-9 */ /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f1), to(#e6e6e6)); 
    /* Safari 5.1+, Chrome 10+ */ 
    background: -webkit-linear-gradient(#e6e6e6, #f1f1f1); 
    /* Opera 11.10+ */ 
    background: -o-linear-gradient(#e6e6e6, #f1f1f1);   
    
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 2px #999, 0 1px 0px #f6f6f6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 15px;
    text-shadow: 0 1px 1px #fff;
    text-align: center;
    cursor: pointer;
    color: #2d7886;	
}

.button:hover {
  color: #f67b7b;
  /* Firefox 3.6+ */ 
  background: -moz-linear-gradient(100% 100% 90deg, #f1f1f1, #e6e6e6); 
    
  /* Safari 4-5, Chrome 1-9 */ /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */ 
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#f1f1f1)); 
    
  /* Safari 5.1+, Chrome 10+ */ 
  background: -webkit-linear-gradient(#f1f1f1, #e6e6e6); 
    
  /* Opera 11.10+ */ 
  background: -o-linear-gradient(#f1f1f1, #e6e6e6);  
}

/* end links */

/* TITLES */
h2 {
  font-weight: bold;
  margin: 0 0 10px 8%;
  color: #555;
  letter-spacing: -0.5px;
}


/* END TITLES */

/* main divs */

#container {
  float: left;
  width: 100%;
  position: relative;	
}

#main {
  float:left;
  width: 100%;	
}

.whitebox {
  width: 100%;	
  background-color: #fff;
  border-radius: 8px;
  float: left;
  margin: 0 0 20px 0;
}

#header {
  width: 100%;
  height: 40px;
  background-color: #bdd7e1;
  float: left;
  margin: 0 0 20px 0;
  padding: 10px 0 10px 0;
  position: relative;
}

#logo {
  width: 121px;
  position: absolute;
  margin-left: 50%;
  left: -60px;
  top: 15px;	
}

#home {
  position: absolute;
  left: 15px;
  top: 18px;
  padding: 5px 8px;
  font-weight: bold;	
}

#login {
  position: absolute;
  right: 15px;
  top: 18px;
  width: 50px;
  padding: 5px 8px;
  font-weight: bold;	
}

#navigation {
  width: 100%;
  position: relative;
  top:-20px;	
}

#navigation a {
  width: 33%;
  float: left;
  background-color: #59a1b2;
  text-align: center;
  padding: 5px 0 5px;
  border-right: 1px solid #fff;
  color: #fff;	
}

#left {
  width: 100%;
  background-color: #fff;	
}


#choices a {
  float: left;
  width: 87%;
  padding: 5% 5% 5% 8%;
  font-size:1.2em;
  font-weight: bold;
  border-bottom: 1px solid #dfecf1;
  position: relative;	
}

#choices a span.arrow {
  position: absolute;
  right: 20px;	
}