html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}


caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}del,ins{text-decoration:none;}


html {
  border: none;
  margin: none;
  padding: none;
  background-color: #dfecf1;	
}

body {
  font-family: Arial, sans-serif;	
  background-color: #d4e8f0;
  margin: 0;
  padding: 0;
}

/* links */

a img {
  border: none;	
}

a img:hover {
  opacity: 0.8;	
}

a {
  text-decoration: none;	
}

a:link, a:visited {
  color: #2d7886;
}

a:hover, a:active {
  color: #f67b7b;
}

/* end links */

/* main divs */

#container {
  width: 90%;
  margin: 0;
  padding: 5px;	
}

#logo {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-left:20px;	
}

#left {
  width: 100%;
  background-color: #fff;	
}

a.nav {
  background-color: #fff;
  padding: 8px 15px;
  border-radius: 7px;
  margin-bottom: 20px;	
}