	
	
<div id="footer">
	{% if ga_is_on %}
		<g:plusone></g:plusone>
	{% endif %}
	
	<ul>
		{% if request.user.is_authenticated %}
			<li><a href="{% url auth_logout %}">Logout</a></li>
		{% endif %}
		<li><a href="/about/" title="About Laowai Lai" alt="about">About {{ sitename }}</a></li>
		<li><a title="Contact LaoWaiLai.com" href="/contact/">Contact</a></li> 
		<li><a href="{% url blog_home %}">Our Blog</a></li>
		<li><a href="/privacy/">Privacy</a></li>
		<li><a href="/terms-of-use/">Terms of Use</a></li>
		<li>© Copyright {{ sitename }} 2011</li>
	</ul>
	
    
    </div>