{% load thumbnail %}

<div id="header">
	    	
	    	<div id="logo">
	    	
		    	<a title="LaoWaiLai (Fuzhou) Home" alt="home" href="/">
		    		<img src="/images/logo3.png"/>
		    		<span>LaoWaiLai Fuzhou</span>
		    	</a>
		    	
		    </div>
		    {% if city %}
		    	<div id="citychanger">
		    		<span id="currentcity">{{ city.name }} ({{ city.chinese_name }})</span><br/>
		    		<span id="changecity"><a href="{% url cities %}">Change city</a></span>
		    	</div>
		    {% endif %}
		    
		    <div id="site-introduction">
		    <em>News, events and info for the well connected laowai in China</em>
		    </div>
		    
			
			{% if not user.is_authenticated %}
			<div id="nav">
	    		<a class="signup button" title="Register" alt="Register" href="{% url registration_register %}"><span>Signup now &raquo;</span></a>
	    	</div>
			{% endif %}
			
       </div>