{% load thumbnail %}

<div id="header">
	    	<div id="logo">
		    	<a title="LaoWaiLai (Fuzhou) Home" alt="home" href="/">
		    		<img src="/images/logo.png"/>
		    		<span>LaoWaiLai Fuzhou</span>
		    	</a>
		    </div>
		    
		    <div id="site-introduction">
		    <em>News, events and info for the well connected laowai in China</em>
		    </div>
		    
		    
		    <div id="browse-cities">
		    {% if city %}
		    	<p>You're in <strong>{{ city.name }}</strong></p>
		    {% endif %}
		    	<a href="{% url cities %}">Browse cities in China &raquo;</a>
			</div>


		
	    	{% if user.is_authenticated %}
	    	<!--
	    	<div id="account">
	    		<div class="photo">
	    		<a title="Click to view your profile" href="{% url laowai laowai.id %}">
	    		{% if laowai.photo %}
	    			{% thumbnail laowai.photo "60x60" crop="center" as im %}
	    			<img class="avatar" title="Click to view your profile" alt="a picture of {{ laowai.user.name }}" src="{{ im.url }}">
	    			{% endthumbnail %}
	    		{% else %}
	    			<img class="avatar" title="Click to view your profile" alt="" src="/images/avatar_small.png">
	    		{% endif %}
	    		</a>
	    		</div>
	    		
	    		<div class="info">
	    			<p class="name"><a title="Click to view your profile" href="{% url laowai laowai.id %}">{{ user.email }}</a></p>
	    			<p>

	    			</p>
	    			<p>
	    				<span class="small">
	    					<a title="Click to upload a new profile photo" href="{% url upload_profile_photo %}">
	    						{% if laowai.photo %}Change your profile photo
	    						{% else %}Upload a profile photo
	    						{% endif %}
	    					</a>
	    				</span>
	    			</p>
	    			<p><span class="small"><a href="{% url add_a_bio %}">{% if laowai.bio %}Edit bio{% else %}Add a bio{% endif %}</a></span></p>
	    			<p><span class="small"><a title="Click to logout" href="{% url auth_logout %}">Logout</a></span></p>

	    		</div>

	    		
	  

	    	</div>
	    	-->
	    	{% else %}
	    			<div id="nav">
	    				<div class="signup-button">
	    					<a title="Register" alt="Register" href="{% url registration_register %}"><span>register</span></a>
	    				</div>
	    				<div class="login">
							<p>...or if you have an account, <a title="Login" alt="login" href="/accounts/login/"><strong>login</strong></a> </p>
						</div>
	    			</div>
	    	{% endif %}
	    	
		

			
			{% if user.is_superuser %}
			<div id="admin">
			<h4>Admin stats</h4>
	    		<p>{{ signups }} signups</p>
	    		<p>{{ places }} places</p>
	    		<p><a href="/admin/">Login to admin interface</a></p>
	    		<p><a href="/newsletter/">Newsletter</a></p>
	    		</div>
	    	{% endif %}
	
			
       </div>