{% extends "base.html" %}

{% block title%}Upload a profile photo |{% endblock %}

{% block extracss %}
<style type="text/css">
.save-photo {
  font-size: 20px;	
}

</style>
{% endblock %}

    {% block content %}

<div id="top">
<h1>{% if laowai.photo %}Upload a new profile photo{% else %}Add a profile photo{% endif %}</h1>
</div>

<p class="description">Show the world your beautiful face!<br/> <em>(TIP: for best results choose a square photo with your face in the middle.)</em></p> 
    
    	<form enctype="multipart/form-data" method="post" action="{% url upload_profile_photo %}">

            {{ form.photo.errors }}        
			{{ form.photo }}
			<input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/{% endif %}" />
			<br/>
    		<input type="submit" value="Save photo" class="save-photo button">
		</form>
                        

    {% endblock %}
