<div id="footer">

<a href="http://www.flickr.com/photos/west-is-east/" title="Visit my Westiseast flickr page"><img alt="flickr" src="/media/images/flickr.png"/></a>
<a href="/feeds/latest/" title="Get the RSS feed"><img alt="rss" src="/media/images/rss2.png"/></a>
<a href="http://digg.com/submit?url={{ entry.get_absolute_url }}&title={{ entry.title }}" title="Digg this blog entry"><img alt="digg.com" src="/media/images/digg.png"/></a>
<a href="http://del.icio.us/post?url={{ entry.get_absolute_url }}&title={{ entry.title }}" title="Bookmark this page on del.icio.us"><img alt="delicious" src="/media/images/delicious.png"/></a>

</div>