{% extends "base.html" %}
{% load thumbnail %}

{% block metadescription %}Add a question for Laowai to answer{% endblock %}
{% block pagetitle %}Add a question{% endblock %}

{% block extracss %}
<style type="text/css">

.button {
  font-size: 20px;	
}

</style>
{% endblock %}

{% block content %}
<div id="top">
<h1>Answer a question</h1>
</div>

<p><strong>Question:</strong> {{ question.question }}</p>
<p><em>{{ question.description }}</p>
<form action="." method="post">
{{ form.as_p }}
<input type="submit" value="Submit answer" class="button">
</form>




{% endblock %}
