
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta content="en-gb" http-equiv="Content-Language" />
	<meta content="{% block metadescription %}{% endblock %}" name="description" /> 
    
    
    <link rel="stylesheet" href="{{ media_url }}/css/styles.css" />
    <title>500 Server Error</title>
    <script type="text/javascript" src="/js/searchbar.js"></script>
    
    
    <meta name="google-site-verification" content="RMs4V5Zji85hamI0ZxdZwKTcNZwMYQsq2MS570ZP6Dk" />
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9041614-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    
</head>

<body>

	<div id="container">
	    
	    {% include "snippets/header.html" %}
		
		<!-- the main section of the page --!>
		<div id="left">
			<img class="arrow" src="/images/arrow.png"/>
	    	<h2>Whoops! Server Error</h2>
	    	<p class="first">Something's broken and it's not your fault. We're fixing the problem as fast as we can, please continue navigating other parts of the site or try again later.</p>
	    </div>
	    
		<br clear="all"/>
		
		<!-- The footer --!>
		{% include "snippets/footer.html" %}

    
    
    </div>



</body>
</html>