
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta content="en-gb" http-equiv="Content-Language" />
	<meta content="{% block metadescription %}{% endblock %}" name="description" /> 
    
    
    <link rel="stylesheet" href="{{ media_url }}/css/styles.css" />
    <title>500 Server Error</title>


</head>

<body>

  <div id="super">
	<div id="container">
	    
	    <div id="header">
	    
	    </div>
		
		<!-- the main section of the page --!>
		<div id="left">
			<img class="arrow" src="/images/arrow.png"/>
	    	<h2>Whoops! Server Error</h2>
	    	<p class="first">Something's broken and it's not your fault. We're fixing the problem as fast as we can, please continue navigating other parts of the site or try again later.</p>
	    </div>
	    
    
    
    </div>
  </div>

</body>
</html>