
<form enctype="multipart/form-data" action="{% url post city.slug %}" method="POST">
	
  	<textarea id="id_content" rows="1" cols="10" name="content" class="clearMeFocus">Write something on the wall...</textarea>
	
	{% if infoform.errors %}
	   {% for error in infoform.errors %}
	    {{ error }}
	   {% endfor %}
	{% endif %}
	
	<div style="display:none;">
		<label for="id_city">City:</label> 
		<select name="city" id="id_city">
			<option selected="selected" value="{{ city.id }}">{{ city }}</option>
		</select>
	</div>
	
	<div id="image-question">
		<img src="/images/add-photo.png"/> <span>Add a photo?</span>
	</div>
	
	<div id="image-field" style="display:none;">
		<p><label for="id_image">Select an image from your computer:</label> <input type="file" name="image" id="id_image" /></p>
	</div>

	
	<div id="button-block">
		<input type="submit" value="" class="submit-button" />
	</div>
</form>
