<form action="{% url post city.slug %}" method="POST">
	<textarea id="id_content" rows="10" cols="40" name="content" onclick="clearInput(this)">{% ifequal laowai.get_posts.count 0 %}For your first post, why not let everyone know what's your favourite place to go in Fuzhou?{% else %}Add something to the feed - news, an event, some information....{% endifequal %}</textarea>
	
	{% if form.errors %}
	    {{ form.errors }}
	{% endif %}
	<div style="display:none;">
		<label for="id_city">City:</label> 
		<select name="city" id="id_city">
			<option selected="selected" value="{{ city.id }}">{{ city }}</option>
		</select>
	</div>
		
	<input type="submit" value="" class="submit-button" />

</form>
