<form action="/" method="POST">
	<textarea id="id_content" rows="10" cols="40" name="content" onclick="clearInput(this)">{% ifequal laowai.get_posts.count 0 %}For your first post, why not let everyone know what's your favourite place to go in Fuzhou?{% else %}Add something to the feed - news, an event, some information....{% endifequal %}</textarea>
	
	{% if form.errors %}
	    {% for e in form.errors %}
			{{ e }}
		{% endfor %}
	{% endif %}
	
	<div id="form-extras">		
		<input style="display:none" id="id_email" type="text" name="email" value="{{ user.email }}" onclick="clearInput(this)" maxlength="200" />	
		<input style="display:none" id="id_name" type="text" name="name" maxlength="200" value="{{ user.name }}" /></p>
			
		{% if user.is_authenticated %}
		{% else %}
		<div class="form-left">
			<h4>Your information (required)</h4>
				<input id="id_email" type="text" name="email" value="Your email" onclick="clearInput(this)" maxlength="200" />	
				<input id="id_name" onclick="clearInput(this)" type="text" name="name" maxlength="200" value="Your name" /></p>
				<p class="small">* Your email address will never be made public. If you want to add contact details, use the field on the right!</p>
		</div>
		{% endif %}
				
		<div class="form-right">
			<h4>Add some more details (optional)</h4>
			<input id="id_contact_details" type="text" onclick="clearInput(this)" name="contact_details" maxlength="200" value="Your contact details?"/>
			<input id="id_location" type="text" onclick="clearInput(this)" name="location" maxlength="200" value="A location for this piece of news?" />
			
			<input id="id_url" type="text" name="related_url" onclick="clearInput(this)" maxlength="200" value="A related URL?" />
			<br/><br/>
			<h4>Add a date (for events)</h4>
			{{ infoform.date }}
		</div>
		
		<br clear="all"/>
		
	</div>
		
	<input type="submit" value="" class="submit-button" />

</form>
