{% load comments %}
{% load thumbnail %}


<li id="object_{{ object.id }}" class="{% if forloop.first and forloop.last %}first only{% else %}{% if forloop.first %}first{% else %}{% if forloop.last %}last{% endif %}{% endif %}{% endif %}">	

	<a href="#" id="object_{{ object.id }}"></a>
		<div class="avatar">
		   	<a title="{{ object.owner }}" href="{% url laowai object.owner.id %}">
		   	{% if object.owner.photo %}
		   		{% thumbnail object.owner.photo "40x40" crop="center" as im %}
	    			<img class="avatar" title="{{ object.owner.name }}" alt="a picture of {{ object.owner.name }}" src="{{ im.url }}">
	    		{% endthumbnail %}
	    	{% else %}
			   	<img class="avatar" title="{{ object.owner }}" alt="" src="/images/avatar_30.jpg">
			{% endif %}
			</a>
		</div>
		    
		<div class="post">
			<p class="content">
				<span class="author">
					<a title="View {{ object.owner }}'s profile" href="{% url laowai object.owner.id %}">{{ object.owner }}</a>
				</span> 
				{% if object.location %}
				    just added a new place in {{ object.city }} - 
					<a href="{% url place object.city.slug object.id %}"><span class="placename">{{ object.name }}</span></a>
					<br/>
					<span id="placeinfo">
						<img src="/images/fake_map_small.png" style="float: left; margin-right: 10px;"/>
						<em>{{ object.description|truncatewords:20 }}</em><br/>
						{{ object.location }}
					</span>
				{% else %}
					{% if object.image %}
						just added a new photo<br/>
						{% thumbnail object.image "x150" crop="center" as im %}
							<img src="{{ im.url }}"/>
						{% endthumbnail %}
						
					{% else %} 
						{{ object.content|urlize }}
						{% if object.get_related_photo %}
							<div class="related_photo">
							{% thumbnail object.get_related_photo.image "x150" crop="center" as im %}
								<img src="{{ im.url }}"/>
							{% endthumbnail %}
							</div>
						{% endif %}
					{% endif %}
				{% endif %}
			</p>
				
			<div class="meta"> 	
					{% include "list/snippets/social.html" %}
			</div>
		</div>
</li>