{% load comments %}
{% load thumbnail %}

<li id="object_{{ object.id }}" class="{% if forloop.first and forloop.last %}first only{% else %}{% if forloop.first %}first{% else %}{% if forloop.last %}last{% endif %}{% endif %}{% endif %}">	

	<a href="#" id="object_{{ object.id }}"></a>
		<div class="avatar">
		   	<a title="{{ object.owner }}" href="{% url laowai object.owner.id %}">
		   	{% if object.owner.photo %}
		   		{% thumbnail object.owner.photo "60x60" crop="center" as im %}
	    			<img class="avatar" title="{{ object.owner.name }}" alt="a picture of {{ object.owner.name }}" src="{{ im.url }}">
	    		{% endthumbnail %}
	    	{% else %}
			   	<img class="avatar" title="{{ object.owner }}" alt="" src="/images/avatar_60.jpg">
			{% endif %}
			</a>
		</div>
		    
		<div class="post">
			<p class="content">
				<span class="author">
					<a title="View {{ object.owner }}'s profile" href="{% url laowai object.owner.id %}">{{ object.owner }}</a>
				</span> {{ object.content|urlize }}
			</p>
				
			<div class="meta">
				{% if object.date %}Posted {{ object.date|timesince }} ago |{% endif %} 	
					{% include "list/snippets/social.html" %}
			</div>
		</div>
</li>