{% load comments %}
{% load thumbnail %}

<li id="info_{{ info.id }}" class="{% if forloop.first and forloop.last %}first only{% else %}{% if forloop.first %}first{% else %}{% if forloop.last %}last{% endif %}{% endif %}{% endif %}">	

		    <a href="#" id="info_{{ info.id }}"></a>
		    <div class="avatar">
		    	<a title="{{ info.added_by.name }}" href="{% url laowai info.added_by.id %}">
		    	{% if info.added_by.photo %}
		    		{% thumbnail info.added_by.photo "60x60" crop="center" as im %}
	    			<img class="avatar" title="{{ info.added_by.name }}" alt="a picture of {{ info.added_by.name }}" src="{{ im.url }}">
	    			{% endthumbnail %}
	    		{% else %}
			    	<img class="avatar" title="{{ info.added_by.name }}" alt="" src="/images/avatar_60.jpg">
				{% endif %}
				</a>
		    </div>
		    <div class="post">
				<p class="content"><span class="author"><a title="View all posts by {{ info.added_by.name }}" href="{% url laowai info.added_by.id %}">{{ info.added_by.name }}</a></span> {{ info.content|urlize }}</p>
				{% if info.related_url %}
					<p class="url"></p>
				{% endif %}
					
					<div class="meta">
						{% if info.date %}Posted {{ info.date|timesince }} ago |{% endif %} 
						
					{% get_comment_count for info as comment_count %}
					{% ifequal comment_count 0 %}
						{% if user.is_authenticated %}
							<span class="show-comments" title="Add the first comment" href="#comments_{{ info.id }}" onclick="toggle_visibility({{ info.id }});"><strong>Add the first comment</strong></span>
						{% else %}
							0 comments
						{% endif %}
					{% else %}
						<span class="show-comments" title="Click to view all comments" href="" onclick="toggle_visibility({{ info.id }});"><strong>{{ comment_count }} comment{{ comment_count|pluralize }}</strong></span>
					{% endifequal %} | 
					    
					    
						{% if laowai %}
						   {% if laowai in info.get_likers %}
								{% ifequal info.get_like_count 1 %}
									You like this
								{% else %}
									You and {{ info.get_like_count|add:"-1" }} other 
									{{ info.get_like_count|pluralize:"person,people" }} like{{ info.get_like_count|add:-1|pluralize:",s" }} this
								{% endifequal %}
							{% else %}
							  <span id="like_{{ info.id }}" class="like">
							    {% ifequal info.get_like_count 0 %}
							    	<a>Like</a>
							    {% else %}
									{{ info.get_like_count }} {{ info.get_like_count|pluralize:"person,people" }} 
									like{{ info.get_like_count|pluralize:"s," }} this
									- <a>Like</a>
								{% endifequal %}
								</span>
							{% endif %}
						{% else %}
							{{ info.get_like_count }} {{ info.get_like_count|pluralize:"person,people" }} like{{ info.get_like_count|pluralize:"s," }} this
						{% endif %}
						
						
						
					</div>
					
				{% get_comment_list for info as comment_list %}
				<a href="#" id="comments_{{ info.id }}"></a>
				<div style="display: none;" id="comments_full_{{ info.id }}">
					<div class="comments">
						<div class="comments-list">
						{% for comment in comment_list %}
							{% include "snippets/comment.html" %}
						{% endfor %}
						</div>
						{% if user.is_authenticated %}
							<div id="comment-form-{{ info.id }}">	
								<div class="comment-name">
								    {% if request.user.get_profile.photo %}
								    	{% thumbnail request.user.get_profile.photo "30x30" crop="center" as im %}
								        <img src="{{ im.url }}">
								        {% endthumbnail %}
								    {% else %}
								    	<img src="/images/avatar_30.png">
								    {% endif %}
								</div>
							{% get_comment_form for info as form %}	
							{% with "/feed/" as next %}				
							{% include "snippets/comment-form.html" %}
							{% endwith %}
							</div>
						{% else %}
							<p class="register-reminder"><a href="{% url auth_login %}">Login</a> or <a href="{% url registration_register %}">register</a> to post comments.</p>						
						{% endif %}
					</div>
				</div>
			</div>

	</li>