{% extends "base.html" %}
{% load thumbnail %}

{% block metadescription %}The best place to share news and events for foreigners in Fuzhou, China.{% endblock %}
{% block pagetitle %}Home{% endblock %}

{% block extracss %}
<style type="text/css">
div#introduction {
  height: 300px;
  float: left;	
}

div#top h1 {
  color: #333;
  font-size: 40px;	
}

ul.explanation {
  padding: 0;
  margin: 0;
  list-style-type: none;	
}

ul.explanation li {
    float: left;
    margin-bottom: 10px;
    width: 165px;
    position: relative;
    top: 30px;
    background-color: #e1e1e1;
}

ul.explanation li.first {
  width: 535px;
  background-color: #fff;
  position: relative;
  top: 2px;
}

ul.explanation li.first span.small {
  font-weight: normal;
  font-size: 12px;
  padding-left: 5px;	
}

ul.explanation li.last {
  border-right: none;	
  padding-right: 0;
}

ul.explanation li h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 1px 2px #fff;

}

ul.explanation li p {
  font-size: 12px;
  margin: 5px 0 0 0;	
}

ul#cities {
  width: 535px;
  padding: 0;
  margin: 0;
  float: left;
  list-style-type: none;
  font-size: 12px;	
}

</style>
{% endblock %}

{% block content %}

<div id="top">
<h1>Welcome to {{ sitename }}</h1>
</div>

<p class="description"><em>This site is for foreigners living or working in China. It's a place to exchange knowledge about places to go, and life in China. <a href="/about/">Find out more &raquo;</a></em></p>

{% if city %}
<ul class="explanation">
<li class="first">
	<h3>Choose a city</h3>
	<p>Any city in China that you live in, or want to know more about<br/>
	<a href="">Choose your city &raquo;</a>
	</p>
</li>
<li>
	<h3>Browse</h3>
	<p>Find places to eat, drink, visit or shop, or do something.<br/>
	{% ifequal current_city.slug "china" %}{% else %}<a href="{% url places city.slug %}">Find places &raquo;</a>{% endifequal %}
	</p>
</li>
<li class="last">
	<h3>Contribute</h3>
	<p>Add your own places, ratings, comments or news.<br/>
	<a href="{% url registration_register %}">Signup to join in &raquo;</a></p>
</li>
</ul>

{% else %}

<ul class="explanation">
<li class="first">
	<h3>Choose a city
	<span class="small">(pick a city in China that you want to know more about)</span>
	</h3>
</li>
</ul>

<ul id="cities">
{% for city in cities %}
<li><a href="{% url city city.slug %}">{{ city }}</a></li>
{% endfor %}
</ul>
{% endif %}
	
	
	<div id="feed">
		{% include "list/snippets/feed.html" %}
	</div>





{% endblock %}

