{% extends "base.html" %}
{% load thumbnail %}

{% block metadescription %}The best place to share news and events for foreigners in Fuzhou, China.{% endblock %}
{% block pagetitle %}Home{% endblock %}

{% block extracss %}
<style type="text/css">
div#introduction {
  height: 300px;
  float: left;	
}

div#top h1 {
  color: #333;
  font-size: 40px;	
}

div.explanation {
    border-right: 2px dotted #E1E1E1;
    float: left;
    font-weight: bold;
    margin: 0 20px 10px 0;
    width: 165px;
}


div.explanation p {
  font-weight: normal;
  font-size: 12px;	
  color:#333;
}

div.explanation h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 1px 2px #fff;
  color: #2D7886;
  letter-spacing: -1px;
}

p.description {
  margin-bottom: 30px;	
}

div#cities {
  width: 360px;
  padding-bottom: 20px;	
}

div#cities h3 {
  float: left;
  margin-right: 10px;
  position: relative;
  top: 2px;	
}

</style>
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
	<div id="top">
		<h1>Set your city in China</h1>
	</div>
	
	<p class="description"><em>You need to choose a city as your 'home' city in China. Click on one of the cities below, and remember you can always browse other cities.</em></p>
	
	<div id="cities">
		{% for city in laowai.cities.all %}
		<a href="{% url mark_city city.id %}">{{ city.name }}</a>
		{% endfor %}
	</div>
	

	<div id="feed">
		{% include "list/snippets/feed.html" %}
	</div>

{% else %}	
	<div id="top">
		<h1>China by locals, for locals</h1>
	</div>

	<p class="description"><em>
	This site is for foreigners living or working in China. 
	It's a place to exchange knowledge about places to go, and life in China. <a href="/about/">Find out more &raquo;</a></em>
	</p>

    <div class="explanation">
    	<h3>Browse cities</h3>
		<p>Pick a city in China that you want to know more about</p>
    </div>

		
		<div id="cities">
		{% for city in all_cities %}
			<a href="{% url city city.slug %}">{{ city }} ({{ city.chinese_name }})</a>
		{% endfor %}
		</div>

{% endif %}



{% endblock %}

