{% extends "base.html" %}
{% load thumbnail %}
{% load comments %}


{% block metadescription %}{{ this_laowai.name }}'s posts on LaoWaiLai - {{ this_laowai.bio }}{% endblock %}
{% block pagetitle %}{% ifequal this_laowai laowai %}Your{% else %}{{ this_laowai.name }}'s{% endifequal %} posts{% endblock %}


{% block extrajs %}
<script type="text/javascript" charset="utf-8">  

function bindPostCommentHandler(idx) {    
    $('#comment-form-' + idx + ' form').submit(function() {
    	if ($('#comment-form-' + idx + ' form textarea').val() == '') {
    		$('#comment-form-' + idx + ' form').prepend('<p class="warning" style="color:red; display:block;"><em>You must type something</em></p>');
    	}
    	else {
        $.ajax({  
            type: "POST",  
            data: $('#comment-form-' + idx + ' form').serialize(),  
            url: "{% comment_form_target %}",  
            cache: false,  
            dataType: "html",  
            success: function(data, textStatus) {
                $('#comments_full_' + idx + ' .comments-list').append(data);
                $('#comment-form-' + idx + ' textarea').val('');
                $('#comment-form-' + idx + ' .warning').attr('style', 'display:none');
            },  
            error: function (XMLHttpRequest, textStatus, errorThrown) {  
                $('#comment-form-' + idx + ' form').replaceWith('Your comment could not be posted.');  
            }  
        }); 
    	}
        return false;
    });  
}  

function bindLikeHandler(idx) {
   $('#like_'+ idx).click(function() {
        $.getJSON("/like/", {xhr: "true", info: idx, laowai: '{{ laowai.id }}',},
          function(data) {
            $('#like_'+ idx).replaceWith(data);
        });	
   });
}

function nextPage(page) {
$.getJSON("/{{ city.slug }}/feed/", {xhr: "true", page: page},
  function(data) {
  	$(data).appendTo('#feed ul');
  	pageNum++;
  });
}

var pageNum = {{ objects.next_page_number }}
$("#pagination").click(function () { 
	nextPage(pageNum); 
});

$("#loading").ajaxStart(function(){
   $('#pagination').hide();
   $(this).show();
 });

$("#loading").ajaxStop(function(){
   $(this).hide();
   $('#pagination').show();
 });

      
$(document).ready(function() { 
	{% for info in objects.object_list %} 
   	     bindPostCommentHandler({{ info.id }});
   	     bindLikeHandler({{ info.id }});
	{% endfor %}  
});  
</script>
{% endblock %}




{% block extracss %}
<script type="application/javascript" src="/js/jquery-ui-1.8.16.custom.min.js"></script>
<link rel="stylesheet" href="/css/fancybox/jquery.fancybox-1.3.4.css" />
<link rel="stylesheet" href="/css/feed.css" />

<style type="text/css">
p.description {
  border-bottom: none;
  margin: 0;
  float: left;
  width: 430px;	
}

div#top h1 {
  float: none;	
}

div#top div#photo {
    float: left;
    margin: 10px 30px 20px 0;
    width: 100px;
}

div#top div#photo p {
  font-weight: bold;
  font-size: 12px;
  margin: 0;	
}

div#cities a {
  background-color: #f1f1f1;
  border: 1px solid #e1e1e1;
  padding: 5px 10px;
  border-radius: 7px;
  float: left;
  margin-right: 8px;
  font-size: 11px;
  font-weight: bold;	
}

div#cities h3 {
  margin-bottom: 15px;	
}
</style>
{% endblock %}

{% block content %}
	
<div id="top">
	<div id="photo">
	{% if this_laowai.photo %}
		{% thumbnail this_laowai.photo "110x110" crop="center" as im %}
		<img class="profile-photo-large" title="{{ this_laowai.name }}" alt="{{ this_laowai.name }}'s photo" src="{{ im.url }}">
		{% endthumbnail %}
	{% else %}
		<img class="profile-photo-large" title="{{ this_laowai.name }}" alt="" src="/images/avatar_80.jpg">
	{% endif %}
		{% if this_laowai.city %}
		<p><strong>City:</strong> <a href="{% url news_feed this_laowai.city.slug %}">{{ this_laowai.city }}</a></p>
		{% else %}
		{% endif %}
	<p>{{ this_laowai.added_places.count }} place{{ this_laowai.added_places.count|pluralize }}</p>
	<p>{{ this_laowai.added_questions.count }} question{{ this_laowai.added_questions.count|pluralize }}</p>
	<p>{{ this_laowai.added_answers.count }} answer{{ this_laowai.added_answers.count|pluralize }}</p>
	<p><strong>Joined:</strong> {{ this_laowai.date_joined|date:"M Y" }}</p>
	</div>
	
	<h1>All posts by {{ this_laowai.name }}</h1>

	<p class="description">
	{% if this_laowai.bio %}
			<em>{{ this_laowai.bio|urlize }}</em><br/>
	{% else %}
	    	<em>{{ this_laowai.name }} hasn't added an introduction yet</em>	
	{% endif %}
	</p>
	
</div>
	
	{% if objects %}
		{% with this_laowai.city as city %}
			<div id="feed">
			{% include "list/snippets/feed.html" %}
			</div>
		{% endwith %}
	{% else %}
		<p>{{ this_laowai.name }} hasn't posted anything!</p>
	{% endif %}





{% endblock %}

