{% extends "base.html" %}
{% load thumbnail %}
{% load comments %}

{% block metadescription %}News, events and places to go for foreigners living or travelling in {{ city.name }}.{% endblock %}
{% block pagetitle %}News from {{ city }}{% endblock %}

{% block extrajs %}

<script type="text/javascript" charset="utf-8">  

function bindPostCommentHandler(idx) {   
	var thisObject = $('#comment-form-' + idx + ' form'); 
    thisObject.submit(function() {
    	if ($('textarea#id_comment_' + idx).val() == '') {
    		$(this).append('<p class="warning" style="color:red; display:block; float:right;position:relative;top:5px; right: 10px;"><em>You must type something!</em></p>');
    	}
    	else {
        	$.ajax({  
        	    type: "POST",  
        	    data: $('#comment-form-' + idx + ' form').serialize(),  
        	    url: "/comments/post/",  
        	    cache: false,  
        	    dataType: "html",  
        	    success: function(data, textStatus) {
        	        $('#comments_full_' + idx + ' .comments-list').append(data);
        	        $('#comment-form-' + idx + ' textarea').val('');
        	        $('#comment-form-' + idx + ' .warning').attr('style', 'display:none');
        	    },  
        	    error: function (XMLHttpRequest, textStatus, errorThrown) {  
        	        thisObject.replaceWith('Your comment could not be posted.');  
        	    }  
        	}); 
        	
        	$().ajaxStart(function(){
   				$('.submit').css('opacity', '0.4');
 			});
 			$().ajaxStop(function(){
   				$('.submit').css('opacity', '1');
 			});
    	}
        return false;
    });  
} 


function showComments(id) {
  	bindPostCommentHandler(id);
    $("div#comments_full_" + id).toggle();
    $("span.show_comments" + id).removeAttr("onclick");	
}


function nextPage(page) {
$.getJSON("/{{ city.slug }}/", {xhr: "true", page: page},
  function(data) {
  	$(data).appendTo('#feed ul');
  	pageNum++; 
  });
}

var pageNum = {{ objects.next_page_number }}
$("#pagination").click(function () { 
	nextPage(pageNum); 
});

$("textarea").focus(function() {
    if( $(this).text() == "Write something on the wall...") {
        $(this).text("");
    }
});

$("#loading").ajaxStart(function(){
   $('#pagination').hide();
   $(this).show();
 });

$("#loading").ajaxStop(function(){
   $(this).hide();
   $('#pagination').show();
   $("a.image").fancybox();
 });
 
 
$("#id_content").focus(function() {
	$(this).animate({"height": "85px",}, "fast" );
	$("#button-block").slideDown("fast");
  return false;
});

$("#cancel").click(function() {
	  $(this).animate({"height": "20px",}, "fast" );
	  $("#button-block").slideUp("fast");
	  $("#button-block").css('display', 'none');
    return false;
});

$('#image-question').click(function() {
	$(this).toggle();
	$("#button-block").slideDown("fast");
	$('#image-field').toggle();
});
  
      
$(document).ready(function() { 
	$("a.image").fancybox();
	$('a.add-blog').fancybox({'autoDimensions': false, 'width': 600, 'height': 600, 'padding': 30,});
});  

</script>  

<script type="application/javascript" src="/js/lightbox/jquery.fancybox-1.3.4.pack.js"></script>
{% endblock %}


{% block extracss %}


<link rel="stylesheet" href="/css/fancybox/jquery.fancybox-1.3.4.css" />
<link rel="stylesheet" href="/css/feed.css" />

<style type="text/css">
div#introduction {
  height: 300px;
  float: left;	
}

div#top {
  	
}

#explanation {
  font-family: Georgia, serif;
  font-size: 16px;
  font-style: italic;
  margin: 0 0 20px 0;	
}

#people {
  float: left;
  margin-bottom: 30px;	
  padding-bottom: 0px;
}

#people img {
  float: left;
  margin-right: 5px;	
}

#people span, #photos span, #blogs span {
    color: #C1C1C1;
    display: block;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

#photos {
  float: left;	
  margin-bottom: 20px;
}

#blogs {
  float: left;
}

#blogs ul {
  list-style-type: none;
  font-size: 15px;
  line-height: 1em;	
}

#blogs ul p {
  line-height: 1.2em;	
}

#blogs ul span.url {
  font-size: 11px;	
  text-transform: none;
  font-weight: normal;
  letter-spacing: 0;
  color: #666;
}

#blogs p.none {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 5px;	
}

.button.add-blog {
  padding: 2px 4px;
  font-size: 11px;	
}

#blogs #add-blog-form {
  display: none;
  width: 200px;	
}
</style>
{% endblock %}

{% block content %}
	
<div id="top">
<h1>News from {{ city }} ({{ city.chinese_name }})</h1>
{% if request.user.is_authenticated %}
{% else %}
	<p class="signup"><a href="{% url registration_register %}"><strong>Signup</strong></a> or <a href="/accounts/login/"><strong>login</strong></a> to add your news</p>
	{% endif %}
</div>

<div id="rightbar">

	
		<div id="explanation">
		{% if not request.user.is_authenticated %}
			<p>This is a news feed for <strong>{{ city.name }}</strong> - it's created by the foreigners living and working here. <a href="{% url registration_register %}">Signup to add your voice.</a></p>
		{% else %}
			<p>This is a news feed for <strong>{{ city.name }}</strong> - it's created by the foreigners living and working here.</p>
		{% endif %}
	</div>

	<div id="people">
		<span>newest people in {{ city.name }} <a href="{% url people city.slug %}">more &raquo;</a></span>
		{% for person in latest_people %}
		  {% thumbnail person.photo "50x50" crop="center" as im %}
			<a title="{{ person }}" href="{% url laowai person.pk %}"><img src="{{ im.url }}"></a>
		  {% endthumbnail %}
		{% endfor %}
	</div>
	
	<div id="photos">
		<span>latest photos from {{ city.name }} <a href="">more &raquo;</a></span>
		{% for photo in latest_photos %}
			{% thumbnail photo.image "x600" crop="center" as im_large %}
				<a class="image" href="{{ im_large.url }}">
					{% thumbnail photo.image "50x50" crop="center" as im %}
						<img alt="" title="" src="{{ im.url }}"/>
					{% endthumbnail %}
				</a>
			{% endthumbnail %}
		{% endfor %}
	</div>
	
	
	<div id="blogs">
		<span>blogs from {{ city.name }} &raquo;</span>
		
		{% if city.get_latest_blogs %}
		<ul>
			{% for blog in city.get_latest_blogs %}
			<li>
				<p>
					{% if blog.name %}
						<a href="{{ blog.url }}">{{ blog.name }}</a><br/>
						<span class="url">{{ blog.url }}</span>
					{% else %}
						<a href="{{ blog.url }}">{{ blog.url }}</a>
					{% endif %}
				</p>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p class="none">We have no blogs listed for {{ city }} yet</p>
		{% endif %}
		<a class="button add-blog" href="#add-blog-form">+ Add a blog</a>
		<div id="add-blog-form">
			<h3>Add a blog feed to {{ city.name }}</h3>
			<p>Enter the URL of a blog about {{ city.name }} (or just written by somebody living in {{ city.name }}) and we'll grab the latest entries from that blog automatically and display them on the {{ city.name }} news feed.</p>
			<form action="{% url add_blog city.slug %}" method="POST">
			<label>URL *</label><input type="text" name="url" id="id_url"/>
			<label>Name</label><input type="text" name="name" id="id_name"/>
			<label>RSS Feed URL</label><input type="text" name="feed" id="id_feed"/>
			<input type="submit" class="button" value="Submit"/>
			</form>
		</div>
	</div>
	
	
	
</div>

	
	<div id="feed">
		{% if request.user.is_authenticated %}
			{% if request.user.get_profile.city %}
				<div id="add-form">
					{% include "list/snippets/add-form.html" %}
				</div>
			{% endif %}
		{% endif %}
		
		{% include "list/snippets/feed.html" %}
	</div>





{% endblock %}
