{% extends "base.html" %}
{% load thumbnail %}
{% load comments %}

{% block metadescription %}The best place to share news and events for foreigners in {{ current_city }}, China.{% endblock %}
{% block pagetitle %}News from {{ city }}{% endblock %}

{% block extrajs %}
<script type="text/javascript" charset="utf-8">  

function bindPostCommentHandler(idx) {   
	var thisObject = $('#comment-form-' + idx + ' form'); 
    thisObject.submit(function() {
    	if ($('#comment-form-' + idx + ' form textarea').val() == '') {
    		this.Object.prepend('<p class="warning" style="color:red; display:block;"><em>You must type something</em></p>');
    	}
    	else {
        	$.ajax({  
        	    type: "POST",  
        	    data: $('#comment-form-' + idx + ' form').serialize(),  
        	    url: "/comments/post/",  
        	    cache: false,  
        	    dataType: "html",  
        	    success: function(data, textStatus) {
        	        $('#comments_full_' + idx + ' .comments-list').append(data);
        	        $('#comment-form-' + idx + ' textarea').val('');
        	        $('#comment-form-' + idx + ' .warning').attr('style', 'display:none');
        	    },  
        	    error: function (XMLHttpRequest, textStatus, errorThrown) {  
        	        thisObject.replaceWith('Your comment could not be posted.');  
        	    }  
        	}); 
    	}
        return false;
    });  
} 


function showComments(id) {
  bindPostCommentHandler(id);
  if ($('#comments_full' + id) == "100%") {	
  }
  else {
    $("#comments_full_" + id).animate({
          height: "100%",
        }, 100, function() {
          $("#comments_full_" + id).fadeIn('100');
          $("#show_comments" + id).removeAttr("onclick")	
        } 
    );
  }
}

function bindLikeHandler(idx) {
   $('#like_'+ idx).click(function() {
        $.getJSON("/like/", {xhr: "true", info: idx, laowai: '{{ laowai.id }}',},
          function(data) {
            $('#like_'+ idx).replaceWith(data);
        });	
   });
}

function nextPage(page) {
$.getJSON("/{{ city.slug }}/feed/", {xhr: "true", page: page},
  function(data) {
  	$(data).appendTo('#feed ul');
  	pageNum++; 
  });
}

var pageNum = {{ objects.next_page_number }}
$("#pagination").click(function () { 
	nextPage(pageNum); 
});

$("textarea").focus(function() {
    if( $(this).text() == "Write something on the wall..." ) {
        $(this).text("");
    }

});

$("textarea").blur(function() {

    if( $(this).text() == "" ) {
        $(this).text("Write something on the wall...");
    }

});

$("#loading").ajaxStart(function(){
   $('#pagination').hide();
   $(this).show();
 });

$("#loading").ajaxStop(function(){
   $(this).hide();
   $('#pagination').show();
 });
 
 
$("#id_content").focus(function() {
	$(this).animate({"height": "85px",}, "fast" );
	$("#button-block").slideDown("fast");
  return false;
});

$("#cancel").click(function() {
	  $(this).animate({"height": "20px",}, "fast" );
	  $("#button-block").slideUp("fast");
	  $("#button-block").css('display', 'none');
    return false;
});
  
      
$(document).ready(function() { 
	{% for info in objects.object_list %} 
   	     bindLikeHandler({{ info.id }});
	{% endfor %}  
});  
</script>  
{% endblock %}


{% block extracss %}
<style type="text/css">
div#introduction {
  height: 300px;
  float: left;	
}

span.like {
 color: #2D7886;	
}

span.like:hover {
  color: #F67B7B;
  cursor: pointer;	
}

div#pagination {
    background-color: #F1F1F1;
    border: 2px dotted #e1e1e1;
    color: #2D7886;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 40px;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

div#pagination:hover {
  cursor: pointer;
  background-color: #e1e1e1;
  color: #F67B7B;	
}

div#add-form {
    float: left;
    width: 530px;
}

div#add-form textarea {
  width: 540px;
  height: 20px;
  padding: 10px;
  font-size: 13px;
  color: #666;
  line-height: 1.4em;
  border: 1px solid #e1e1e1;
  margin-bottom: 0px;	
}

div#add-form textarea:focus {
  border: 1px solid #999;	
}

div#add-form input.submit-button {
  margin: 10px 18px 0 0;	
}

div#add-form form {
    background-color: #F6F6F6;
    float: left;
    margin: 0 0 30px -30px;
    padding: 15px 30px;
    width: 580px;
}

div#add-form h4 {
  margin: 0 0 5px 0;
  color: #666;	
  font-size: 0.8em;
}

div#add-form div.form-left h4 {
  color: black;	
}


div#add-form label {
  margin: 0;
  color: #666;
  font-weight: normal;
  font-size: 0.9em;
}

div#add-form p.small {
  font-size: 0.7em;
  margin: 0;
  padding: 0;	
}

#button-block {
  display: none;	
}

div#add-form div.options p {
  float: left;
  font-weight: bold;
  padding: 0 20px;
  position: relative;
  top: 5px;	
}

div#add-form div.options p.selected {
    background-color: #F6F6F6;
    padding: 5px 20px 2px;
    top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



</style>
{% endblock %}

{% block content %}
	
<div id="top">
<h1>News from {{ city }}</h1>
{% if request.user.is_authenticated %}
{% else %}
	<p class="signup"><a href="{% url registration_register %}"><strong>Signup</strong></a> or <a href="/accounts/login/"><strong>login</strong></a> to add your news</p>
	{% endif %}
</div>

	
	<div id="feed">
		{% include "list/snippets/feed.html" %}
	</div>





{% endblock %}
