{% extends "base.html" %}
{% load thumbnail %}

{% block metadescription %}The best place to share news and events for foreigners in Fuzhou, China.{% endblock %}
{% block pagetitle %}Home{% endblock %}


{% block extracss %}
<style type="text/css">

div#people div.person {
  float: left;
  width: 80px;
  margin: 0 10px 10px 0;	
}

</style>
{% endblock %}

{% block content %}
<div id="top">	
<h1>Laowai in {{ current_city }} ({{ current_city.chinese_name }})</h1>
</div>

<div id="people">
{% for person in people %}
	<div class="person">
		<a href="{% url laowai person.id %}">
		{% if person.has_photo %}
		    {% thumbnail person.photo "80x80" crop="center" as im %}
			<img src="{{ im.url }}" title="{{ person.name }}" alt="photo of laowai {{ person.name }}">
			{% endthumbnail %}
		{% else %}
			<img class="avatar" title="{{ person.name }}" alt="" src="/images/avatar_80.jpg">
		{% endif %}
		</a>

	</div>
{% endfor %}
</div>




{% endblock %}
