{% extends "base.html" %}
{% load thumbnail %}

{% block metadescription %}A list of foreigners living in {{ city }}, China{% endblock %}
{% block pagetitle %}Members in {{ city }}{% endblock %}


{% block extracss %}
<style type="text/css">

div#people div.person {
  float: left;
  width: 80px;
  margin: 0 10px 10px 0;	
}


</style>
{% endblock %}

{% block content %}
<div id="top">	
<h1>Other members in {{ city }} ({{ city.chinese_name }})</h1>
</div>

<div id="people">
{% for person in people %}
	<div class="person{% if forloop.counter <= 6 %} highlight{% endif %}">
		<a href="{% url laowai person.id %}">
		{% if person.has_photo %}
		    {% thumbnail person.photo "80x80" crop="center" as im %}
			<img src="{{ im.url }}" title="{{ person.name }}" alt="photo of laowai {{ person.name }}">
			{% endthumbnail %}
		{% else %}
			<img class="avatar" title="{{ person.name }}" alt="" src="/images/avatar_80.jpg">
		{% endif %}
		</a>

	</div>
{% endfor %}
</div>




{% endblock %}
