{% extends "base.html" %}
{% load thumbnail %}
{% load comments %}


{% block metadescription %}{% endblock %}
{% block pagetitle %}Your profile{% endblock %}


{% block extrajs %}
<script type="text/javascript" charset="utf-8">  

function bindPostCommentHandler(idx) {    
    $('#comment-form-' + idx + ' form').submit(function() {
    	if ($('#comment-form-' + idx + ' form textarea').val() == '') {
    		$('#comment-form-' + idx + ' form').prepend('<p class="warning" style="color:red; display:block;"><em>You must type something</em></p>');
    	}
    	else {
        $.ajax({  
            type: "POST",  
            data: $('#comment-form-' + idx + ' form').serialize(),  
            url: "{% comment_form_target %}",  
            cache: false,  
            dataType: "html",  
            success: function(data, textStatus) {
                $('#comments_full_' + idx + ' .comments-list').append(data);
                $('#comment-form-' + idx + ' textarea').val('');
                $('#comment-form-' + idx + ' .warning').attr('style', 'display:none');
            },  
            error: function (XMLHttpRequest, textStatus, errorThrown) {  
                $('#comment-form-' + idx + ' form').replaceWith('Your comment could not be posted.');  
            }  
        }); 
    	}
        return false;
    });  
}  

function bindLikeHandler(idx) {
   $('#like_'+ idx).click(function() {
        $.getJSON("/like/", {xhr: "true", info: idx, laowai: '{{ laowai.id }}',},
          function(data) {
            $('#like_'+ idx).replaceWith(data);
        });	
   });
}

function nextPage(page) {
$.getJSON("/{{ city.slug }}/feed/", {xhr: "true", page: page},
  function(data) {
  	$(data).appendTo('#feed ul');
  	pageNum++;
  });
}

var pageNum = {{ objects.next_page_number }}
$("#pagination").click(function () { 
	nextPage(pageNum); 
});

$("#loading").ajaxStart(function(){
   $('#pagination').hide();
   $(this).show();
 });

$("#loading").ajaxStop(function(){
   $(this).hide();
   $('#pagination').show();
 });

      
$(document).ready(function() { 
	{% for info in objects.object_list %} 
   	     bindPostCommentHandler({{ info.id }});
   	     bindLikeHandler({{ info.id }});
	{% endfor %}  
});  
</script>
{% endblock %}




{% block extracss %}
<style type="text/css">
p.description {
  border-bottom: none;
  margin: 0;
  float: left;
  width: 430px;	
}

div#top div#photo {
    float: left;
    margin: 10px 30px 20px 0;
    width: 100px;
}

div#top div#photo p {
  font-weight: normal;
  font-size: 11px;
  margin: 0;	
}

div#cities {
  width: 560px;	
}

div#cities a {
  background-color: #f1f1f1;
  border: 1px solid #e1e1e1;
  padding: 5px 10px;
  border-radius: 7px;
  float: left;
  margin-right: 8px;
  font-size: 11px;
  font-weight: bold;	
}

div#cities h3 {
  margin-bottom: 15px;	
}

div#stats {
    border-top: 1px solid #E1E1E1;
    float: left;
    padding-top: 20px;
    width: 560px;
}

div#stats ul {
  list-style-type: square;
  font-size: 13px;
  margin: 10px 0 0 30px;
  font-weight: normal;
  line-height: 1.6em;
  color: #666;	
}
</style>
{% endblock %}

{% block content %}
	
<div id="top">
	<div id="photo">
	{% if laowai.photo %}
		{% thumbnail laowai.photo "110x110" crop="center" as im %}
		<img class="profile-photo-large" title="{{ laowai.name }}" alt="{{ laowai.name }}'s photo" src="{{ im.url }}">
		{% endthumbnail %}
	{% else %}
		<img class="profile-photo-large" title="{{ laowai.name }}" alt="" src="/images/avatar_80.jpg">
	{% endif %}
	
	
	<p>
		<a href="{% url upload_profile_photo %}">&raquo; 
		{% if laowai.photo %}
			Change photo
		{% else %}
			Add a photo
		{% endif %}
		</a>
	</p>
	
	<p>
		{% if laowai.bio %}
			<a href="{% url add_a_bio %}">&raquo; Edit your bio</a>
	{% else %}
	    	<a href="{% url add_a_bio %}">&raquo; Add a bio</a>	
	{% endif %}
	</p>

	</div>
	
	<h1>{{ laowai.name }}</h1>

	<p class="description">
		<em>{{ laowai.bio|urlize }}</em><br/>
	</p>
	
</div>

	{% if not laowai.city %}
		<div id="cities" class="serious">
		<img src="/images/warning.png" style="float: left; margin-right: 10px; position: relative;top:-2px;"/>
		
		<h3 style="color: red;">You need to choose a city (otherwise, there's nothing to show you)<br/>
		<span style="color: #666;font-size: 11px; font-weight: normal; position:relative;top:5px;"><em>If you don't live in China, just choose a city you're interested in.</em></span>
		</h3>
		
		{% for city in all_cities %}
			<a {% ifequal city laowai.city %}class="selected"{% endifequal %} href="{% url set_city city.slug %}">{{ city.name }}</a>
		{% endfor %}
		</div>
	{% else %}
		<div id="cities">
		<h3>Your home city is:</h3>
			<a href="{% url set_city city.slug %}">{{ laowai.city.name }}</a>
		</div>
	{% endif %}
	
	<div id="stats">
		<h3>Your stats</h3>
		<ul>
			<li><strong>{{ laowai.added_places.count }}</strong> place{{ laowai.added_places.count|pluralize }}</li>
			<li><strong>{{ laowai.added_questions.count }}</strong> question{{ laowai.added_questions.count|pluralize }}</li>
			<li><strong>{{ laowai.added_answers.count }}</strong> answer{{ laowai.added_answers.count|pluralize }}</li>
			<li><strong>{{ laowai.profile_views }}</strong> profile view{{ laowai.profile_views|pluralize }}</li>
		</ul>
	</div>



{% endblock %}

