{% extends "base.html" %}
{% load thumbnail %}
{% load comments %}


{% block metadescription %}{% endblock %}
{% block pagetitle %}Your profile{% endblock %}


{% block extrajs %}
<script type="text/javascript" charset="utf-8">  

function bindPostCommentHandler(idx) {    
    $('#comment-form-' + idx + ' form').submit(function() {
    	if ($('#comment-form-' + idx + ' form textarea').val() == '') {
    		$('#comment-form-' + idx + ' form').prepend('<p class="warning" style="color:red; display:block;"><em>You must type something</em></p>');
    	}
    	else {
        $.ajax({  
            type: "POST",  
            data: $('#comment-form-' + idx + ' form').serialize(),  
            url: "{% comment_form_target %}",  
            cache: false,  
            dataType: "html",  
            success: function(data, textStatus) {
                $('#comments_full_' + idx + ' .comments-list').append(data);
                $('#comment-form-' + idx + ' textarea').val('');
                $('#comment-form-' + idx + ' .warning').attr('style', 'display:none');
            },  
            error: function (XMLHttpRequest, textStatus, errorThrown) {  
                $('#comment-form-' + idx + ' form').replaceWith('Your comment could not be posted.');  
            }  
        }); 
    	}
        return false;
    });  
}  

function showComments(id) {
  	bindPostCommentHandler(id);
    $("div#comments_full_" + id).toggle();
    $("span.show_comments" + id).removeAttr("onclick");	
}

function nextPage(page) {
$.getJSON("/profile/", {xhr: "true", page: page},
  function(data) {
  	$(data).appendTo('#feed ul');
  	pageNum++;
  });
}

function markAsRead(pk) {
	$.getJSON("/profile/notices/" + pk + '/', {xhr: "true"},
	  function(data) {
	  	$('#notice_' + pk).removeClass('unseen');
	  	$('#notice_' + pk + ' a.mark-as-read').replaceWith('');
	});
}


$('#notifications-nav').click(function notices() {
	$.getJSON("/profile/notices/", {xhr: "true"},
	  function(data) {
	  	$('div#notifications ul li').remove();
	  	$(data).appendTo('div#notifications ul');
	});
});

function tabs() {
		$( "#tabs" ).tabs();
}

var pageNum = {{ objects.next_page_number }}
$("#pagination").click(function () { 
	nextPage(pageNum); 
});

$("#loading").ajaxStart(function(){
   $('#pagination').hide();
   $(this).show();
 });

$("#loading").ajaxStop(function(){
   $(this).hide();
   $('#pagination').show();
 });
 
$('a#change').click(function() {
	if ($(this).text() == 'Cancel') 
	{
		$(this).text('Change your city');
	}
	else {
		$(this).text('Cancel');
	}
	$('#choose-new').toggle();
});

$('#add-contact-button').click( function() {
	$('#add-contact-form').toggle();
});


      
$(document).ready(function() { 
 
 $("a.image").fancybox();
 
 {% for n in notices %}{% if n.unseen %}
  $('#notice_{{ n.id }} a.mark-as-read').attr('href', '#');
  $('#notice_{{ n.id }} a.mark-as-read').click( function() {
     markAsRead({{ n.id }});
  });
 {% endif %}
 {% endfor %}
  
   
 // Set up a listener so that when anything with a class of 'tab' 
 // is clicked, this function is run.
 $('.tab').click(function () {

  // Remove the 'active' class from the active tab.
  $('#tabbox-nav > a.selected')
	  .removeClass('selected');
	  
  // Add the 'active' class to the clicked tab.
  $(this).addClass('selected');

  // Remove the 'tab_contents_active' class from the visible tab contents.
  $('#tabbox > .visible')
	  .removeClass('visible');

  // Add the 'tab_contents_active' class to the associated tab contents.
  $(this.rel).addClass('visible');

});

 
});  
</script>

<script type="application/javascript" src="/js/lightbox/jquery.fancybox-1.3.4.pack.js"></script>

{% endblock %}




{% block extracss %}
<script type="application/javascript" src="/js/jquery-ui-1.8.16.custom.min.js"></script>
<link rel="stylesheet" href="/css/fancybox/jquery.fancybox-1.3.4.css" />
<link rel="stylesheet" href="/css/feed.css" />

<style type="text/css">


p.description {
  border-bottom: none;
  margin: 0;
  float: left;
  width: 430px;	
}

div#top {
  border-bottom:;	
}

div#top h1 {
 float: none;	
}

#rightbar {
  margin-top: 20px;	
}

div#top div#photo {
    float: left;
    margin: 10px 30px 20px 0;
    width: 100px;
}

div#top div#photo p {
  font-weight: normal;
  font-size: 11px;
  margin: 0;	
}

#tabbox-nav {
  font-size: 12px;
  font-weight: bold;
  float: left;
  margin: 0 0 0px 0;	
}

#tabbox-nav a {
    float: left;
    margin-right: 0;
    padding: 10px 15px;
    width: 260px;
    border-bottom: 1px dotted #e1e1e1;
}

#tabbox-nav a.selected {
  background-color: #DFECF1;
  position: relative;
  border-bottom: none;
}

#tabbox-nav a.selected:before {
	content: ' ';
	height: 0px;
	left: -35px;
	top: -1px;
	position: absolute;
	width: 0px;
	border: 18px solid transparent;
	border-right-color: #DFECF1;
}

#tabbox-nav a:hover {
  background-color: #f6f6f6;	
}

#tabbox-nav a.selected:hover {
  background-color: #DFECF1;
}

#tabbox {
  float: left;
  width: 540px;
  padding: 10px 5px;
  background-color: #fff;
  position: relative;	
}

#tabbox .box {
  float: left;
  top: 0;
  left: 0;
  width: 540px;
  padding: 10px 0px;	
  background-color: #fff;
  font-size: 13px;
  display: none;
}

#tabbox .box.visible {
  display: block;	
}

#tabbox .box .row {
  width: 100%;
  float: left;	
}

#tabbox .box .left {
  width: 100px;
  float: left;
  border-right: 1px solid #e1e1e1;	
  padding: 0;
  margin: 0 20px 0 0;
  min-height: 30px;
}

#tabbox .box .left h4 {
  font-size: 12px;
  font-weight: bold;
}

#tabbox .box .right {
  float: left;
  width: 400px;	
}



div#cities {
  width: 560px;	
}

div#cities a {
  padding: 0;
}

div#cities a#change {
    float: none;
  font-size: 11px;
    margin-left: 10px;
    padding: 4px 5px;
}

div#cities h3 {
  margin-bottom: 15px;	
}

div#cities div#choose-new {
    background-color: #F1F1F1;
    float: left;
    margin-left: -10px;
    padding: 10px 15px;
    width: 400px;
}

div#cities div#choose-new a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
    padding: 0;
}

div#cities div#choose-new p {
  font-size: 11px;
  margin: 0px 0 10px 0px;	
}


div#add-contact-form {
  margin-bottom: 20px;	
}

div#add-contact-form input {
    margin: 10px 0 5px;
    width: 400px;
}

div#add-contact-form span.help {
  font-size: 11px;
  color: #999;	
}

div#add-contact-form span.help strong {
  color: #333;	
}

div#stats {
    float: left;
    padding-top: 20px;
    width: 560px;
}

div#stats ul {
  list-style-type: square;
  font-size: 13px;
  margin: 10px 0 0 30px;
  font-weight: normal;
  line-height: 1.6em;
  color: #666;	
}

#no-city-warning {
  float: left;
  width: 560px;
  margin-bottom: 30px;	
}

#tabbox-nav span.red {
    background-color: #CC1F1F;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-size: 10px;
    margin-left: 4px;
    padding: 2px 5px;
}

ul#notices {
  list-style-type: none;
  margin-left: 0px;	
}

ul#notices li {
  border-bottom: 1px dotted #e1e1e1;
  padding: 0;	
  float: left;
  width: 100%;
  margin-bottom: 3px;
}

ul#notices li.unseen {
  background-color: #f1f8f9;
  border-bottom: 1px solid #fff;
}

ul#notices span.date {
  color: #c1c1c1;	
}

ul#notices li p {
  padding: 5px 5px 0px 10px;
  float: left;	
  line-height: 1.2em;
}

ul#notices li img {
  float: left;	
}

ul#notices li a.mark-as-read {
  font-size: 11px;
}

</style>
{% endblock %}

{% block content %}
	

	
<div id="top">
	<div id="photo">
		{% if laowai.photo %}
			{% thumbnail laowai.photo "110x110" crop="center" as im %}
			<img class="profile-photo-large" title="{{ laowai.name }}" alt="{{ laowai.name }}'s photo" src="{{ im.url }}">
			{% endthumbnail %}
		{% else %}
			<img class="profile-photo-large" title="{{ laowai.name }}" alt="" src="/images/avatar_80.jpg">
		{% endif %}
	</div>
	
	<h1>{{ laowai.name }}</h1>
	<p class="description">
		<em>{{ laowai.bio|urlize }}
		{% if not laowai.bio %}
		<a href="{% url add_a_bio %}">Introduce yourself (add a bio) &raquo;</a>
		{% endif %}
		</em><br/>
	</p>
	
</div>

	<div id="rightbar">
		<div id="tabbox-nav">
			<a href="#" class="tab selected" rel="#notifications" id="notifications-nav">Notifications
				{% if notifications %}<span class="red">{{ notifications.count }}</span>{% endif %}
			</a>
			<a href="#" class="tab" rel="#posts">Your posts</a>
			<a href="#" class="tab" rel="#settings">Settings</a>
			<a href="#" class="tab" rel="#stats">Your stats</a>
		</div>
	</div>

	{% if not laowai.city %}
		<div id="no-city-warning">
			<img src="/images/warning.png" style="float: left; margin-right: 10px; position: relative;top:-2px;"/>
			<h3 style="color: red;">You haven't set a home city in China - click Settings below to set it<br/>
			</h3>
		</div>
	{% endif %}



<div id="tabbox">

	<div id="notifications" class="box visible">
		{% if notices %}
			<ul id="notices">
			{% for notice in notices %}
				{% include 'notification/snippets/notice-snippet.html' %}
			{% endfor %}
			</ul>
		{% else %}
			<p>You have no new notifications</p>
		{% endif %}
	</div>

	<div id="posts" class="box">
	{% if objects %}
		{% with request.user.get_profile.city as city %}
		<div id="feed">
		{% include "list/snippets/feed.html" %}
		</div>
		{% endwith %}
	{% else %}
		<p>You haven't posted anything!</p>
	{% endif %}
	</div>

	<div id="settings" class="box">
	  	<div class="row">
			<div class="left">
				<h4>Your bio</h4>
			</div>
			<div class="right">
			   	<p>
				{% if laowai.bio %}
					<a href="{% url add_a_bio %}">&raquo; Edit your bio</a>
				{% else %}
			    	<a href="{% url add_a_bio %}">&raquo; Add a bio</a>	
				{% endif %}
				</p>
			</div>
		</div>
	  
		<div class="row">
	    	<div class="left">
	    	  <h4>Your photo</h4>
	    	</div>
	    	<div class="right">
	    		<p>
				<a href="{% url upload_profile_photo %}">&raquo; 
				{% if laowai.photo %}
					Change photo
				{% else %}
					Add a photo
				{% endif %}
				</a>
				</p>
	    	</div>
		</div>
		
		<div class="row">
	    	<div class="left">
	    	  <h4>Password</h4>
	    	</div>
	    	<div class="right">
	    		<p>
				<a href="{% url auth_password_change %}">&raquo; 
				Change your password
				</a>
				</p>
	    	</div>
		</div>	
		
		<div class="row" style="display:none;">
	    	<div class="left">
	    	  <h4>Contact details</h4>
	    	</div>
	    	<div class="right">
	    		<p>
	    		{% if laowai.contact_public %}
	    			{{ laowai.contact_public }}
	    		{% else %}
	    			<a id="add-contact-button" href="#">&raquo; Add contact details</a>
	    			<div id="add-contact-form" style="display: none;">
	    				<input id="id_contact_public" name="contact_public" type="text">
	    				<span class="help">This will be a <strong>public</strong> contact method. Do not put private email or phone numbers that you do not want other people to see. If you leave this box empty, your contact details will remain private.</span>
	    			</div>
	    		{% endif %}
				</p>
	    	</div>
		</div>	
	  
		<div class="row">
   			<div class="left">
				<h4>Your city</h4>
		  	</div>
			<div class="right">
	  			<div id="cities">
	  			{% if city %}
	  				<p>
	  					<a class="city" href="">{{ laowai.city.name }} ({{ laowai.city.chinese_name }})</a>
	  					<a href="#" class="button" id="change">&laquo; Change your city</a>
	  				</p>
	  			{% else %}
	  				<p>
	  					No city set
	  					<a href="#" id="change">Set your city</a>
	  				</p>
	  			{% endif %}
	  			<br clear="all"/>
			
					<div id="choose-new" style="display:none;">
						<p><em>Click a city to select it (this will change your home city)</em></p>
						{% for city in all_cities %}
							<a class="button" href="{% url set_city city.slug %}">{{ city.name }}</a>
						{% endfor %}
					</div>
				</div>		  
	  		</div>
	  		

	  		
		</div>		
	</div>

	<div id="stats" class="box">
		
		<div class="row">
		  <div class="left">
		   <h4>Places added</h4>
		  </div>
		  <div class="right">
		  	<p>{{ laowai.added_places.count }}</p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="left">
		   <h4>Questions</h4>
		  </div>
		  <div class="right">
		  	<p>{{ laowai.added_questions.count }}</p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="left">
		   <h4>Answers</h4>
		  </div>
		  <div class="right">
		  	<p>{{ laowai.added_answers.count }}</p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="left">
		   <h4>Profile views</h4>
		  </div>
		  <div class="right">
		  	<p>{{ laowai.profile_views }}</p>
		  </div>
		</div>
		
	</div>

</div>

{% endblock %}

