{% extends "base.html" %}
{% load thumbnail %}
{% load comments %}


{% block metadescription %}{% endblock %}
{% block pagetitle %}Your profile{% endblock %}


{% block extrajs %}
<script type="text/javascript" charset="utf-8">  

function bindPostCommentHandler(idx) {    
    $('#comment-form-' + idx + ' form').submit(function() {
    	if ($('#comment-form-' + idx + ' form textarea').val() == '') {
    		$('#comment-form-' + idx + ' form').prepend('<p class="warning" style="color:red; display:block;"><em>You must type something</em></p>');
    	}
    	else {
        $.ajax({  
            type: "POST",  
            data: $('#comment-form-' + idx + ' form').serialize(),  
            url: "{% comment_form_target %}",  
            cache: false,  
            dataType: "html",  
            success: function(data, textStatus) {
                $('#comments_full_' + idx + ' .comments-list').append(data);
                $('#comment-form-' + idx + ' textarea').val('');
                $('#comment-form-' + idx + ' .warning').attr('style', 'display:none');
            },  
            error: function (XMLHttpRequest, textStatus, errorThrown) {  
                $('#comment-form-' + idx + ' form').replaceWith('Your comment could not be posted.');  
            }  
        }); 
    	}
        return false;
    });  
}  

function bindLikeHandler(idx) {
   $('#like_'+ idx).click(function() {
        $.getJSON("/like/", {xhr: "true", info: idx, laowai: '{{ laowai.id }}',},
          function(data) {
            $('#like_'+ idx).replaceWith(data);
        });	
   });
}

function nextPage(page) {
$.getJSON("/{{ city.slug }}/feed/", {xhr: "true", page: page},
  function(data) {
  	$(data).appendTo('#feed ul');
  	pageNum++;
  });
}

var pageNum = {{ objects.next_page_number }}
$("#pagination").click(function () { 
	nextPage(pageNum); 
});

$("#loading").ajaxStart(function(){
   $('#pagination').hide();
   $(this).show();
 });

$("#loading").ajaxStop(function(){
   $(this).hide();
   $('#pagination').show();
 });
 
$('a#change').click(function() {
	if ($(this).text() == 'Cancel') 
	{
		$(this).text('Change your city');
	}
	else {
		$(this).text('Cancel');
	}
	$('#choose-new').toggle();
});

      
$(document).ready(function() { 
	{% for info in objects.object_list %} 
   	     bindPostCommentHandler({{ info.id }});
   	     bindLikeHandler({{ info.id }});
	{% endfor %}  
});  
</script>
{% endblock %}




{% block extracss %}


<style type="text/css">
p.description {
  border-bottom: none;
  margin: 0;
  float: left;
  width: 430px;	
}

div#top {
  border-bottom: none;	
}

div#top div#photo {
    float: left;
    margin: 10px 30px 20px 0;
    width: 100px;
}

div#top div#photo p {
  font-weight: normal;
  font-size: 11px;
  margin: 0;	
}

#tabbox-nav {
  font-size: 12px;
  font-weight: bold;
  float: left;
  margin: 0 0 0px 0;	
}

#tabbox-nav a {
  margin-right: 0px;
  float: left;	
  padding: 10px 15px;
}

#tabbox-nav a.selected {
  background-color: #DFECF1;
  border-radius: 5px 5px 0 0;
}

#tabbox {
  float: left;
  width: 540px;
  padding: 10px 15px;
  border: 3px solid #DFECF1;
  border-width: 15px 0px 0px;
  background-color: #fff;
  position: relative;	
}

#tabbox .box {
  float: left;
  top: 0;
  left: 0;
  width: 540px;
  padding: 10px 0px;	
  background-color: #fff;
  font-size: 13px;
}

#tabbox .box .row {
  width: 100%;
  float: left;	
}

#tabbox .box .left {
  width: 100px;
  float: left;
  border-right: 1px solid #e1e1e1;	
  padding: 0;
  margin: 0 20px 0 0;
  min-height: 30px;
}

#tabbox .box .left h4 {
  font-size: 12px;
  font-weight: bold;
}

#tabbox .box .right {
  float: left;
  width: 400px;	
}



div#cities {
  width: 560px;	
}

div#cities a {
  background: none;
  box-shadow: none;
  padding: 0;
}

div#cities a#change {
  background: none;
  box-shadow: none;
  border: none;	
  font-weight: normal;
}

div#cities h3 {
  margin-bottom: 15px;	
}

div#cities div#choose-new {
  float: left;
  margin-top: 20px;
  width: 560px;	
}

div#cities div#choose-new a {
  background: none;
  box-shadow: none;
  padding: 0;	
}

div#cities div#choose-new p {
  font-size: 11px;
  margin: 0px 0 10px 0px;	
}

div#stats {
    border-top: 1px solid #E1E1E1;
    float: left;
    padding-top: 20px;
    width: 560px;
}

div#stats ul {
  list-style-type: square;
  font-size: 13px;
  margin: 10px 0 0 30px;
  font-weight: normal;
  line-height: 1.6em;
  color: #666;	
}

</style>
{% endblock %}

{% block content %}
	
<div id="top">
	<div id="photo">
	{% if laowai.photo %}
		{% thumbnail laowai.photo "110x110" crop="center" as im %}
		<img class="profile-photo-large" title="{{ laowai.name }}" alt="{{ laowai.name }}'s photo" src="{{ im.url }}">
		{% endthumbnail %}
	{% else %}
		<img class="profile-photo-large" title="{{ laowai.name }}" alt="" src="/images/avatar_80.jpg">
	{% endif %}
	
	

	


	</div>
	
	<h1>{{ laowai.name }}</h1>

	<p class="description">
		<em>{{ laowai.bio|urlize }}</em><br/>
	</p>
	
</div>


<div id="tabbox-nav">
	<a href="" class="">Your posts</a>
	<a href="" class="selected">Settings</a>
	<a href="">Notifications</a>
	<a href="">Your stats</a>
</div>

<div id="tabbox">
	<div id="settings" class="box">
	  <div class="row">
		<div class="left">
			<h4>Your bio</h4>
		</div>
		<div class="right">
		   	<p>
			{% if laowai.bio %}
				<a href="{% url add_a_bio %}">&raquo; Edit your bio</a>
			{% else %}
		    	<a href="{% url add_a_bio %}">&raquo; Add a bio</a>	
			{% endif %}
			</p>
		</div>
	  </div>
	  
	  <div class="row">
	    <div class="left">
	      <h4>Your photo</h4>
	    </div>
	    <div class="right">
	    	<p>
			<a href="{% url upload_profile_photo %}">&raquo; 
			{% if laowai.photo %}
				Change photo
			{% else %}
				Add a photo
			{% endif %}
			</a>
			</p>
	    </div>
	  </div>
	  
		{% if not laowai.city %}
			<div id="cities" class="serious">
				<img src="/images/warning.png" style="float: left; margin-right: 10px; position: relative;top:-2px;"/>
		
			<h3 style="color: red;">You need to choose a city (otherwise, there's nothing to show you)<br/>
			<span style="color: #666;font-size: 11px; font-weight: normal; position:relative;top:5px;"><em>If you don't live in China, just choose a city you're interested in.</em></span>
			</h3>
		
			{% for city in all_cities %}
				<a {% ifequal city laowai.city %}class="selected"{% endifequal %} href="{% url set_city city.slug %}">{{ city.name }}</a>
			{% endfor %}
			</div>
		{% else %}
		<div class="row">
   		  <div class="left">
			<h4>Your city</h4>
		  </div>
		  <div class="right">
		  	<div id="cities">
				<a class="city" href="{% url set_city city.slug %}">{{ laowai.city.name }} ({{ laowai.city.chinese_name }})</a> 
				<a href="#" id="change">&laquo; Change your city</a>
				<div id="choose-new" style="display:none;">
					<p><em>Click a new city to change</em></p>
					{% for city in all_cities %}
						<a href="{% url set_city city.slug %}">{{ city.name }}</a>
					{% endfor %}
				</div>
			</div>		  
		  </div>
		</div>
		  

		{% endif %}
	</div>
	<div id="stats" class="box">
		
		<div class="row">
		  <div class="left">
		   <h4>Places added</h4>
		  </div>
		  <div class="right">
		  	<p>{{ laowai.added_places.count }}</p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="left">
		   <h4>Questions</h4>
		  </div>
		  <div class="right">
		  	<p>{{ laowai.added_questions.count }}</p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="left">
		   <h4>Answers</h4>
		  </div>
		  <div class="right">
		  	<p>{{ laowai.added_answers.count }}</p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="left">
		   <h4>Profile views</h4>
		  </div>
		  <div class="right">
		  	<p>{{ laowai.profile_views }}</p>
		  </div>
		</div>
		
	</div>

</div>

{% endblock %}

