{% extends "base.html" %}
{% load thumbnail %}

{% block metadescription %}A list of foreigners living in {{ city }}, China{% endblock %}
{% block pagetitle %}Home{% endblock %}

{% block extrajs %}
<script type="application/javascript">
$('#set-city').click(function () {
	if ($("#city-list").is(":hidden")) {
	$("#city-list").slideDown("100");
	} else {
	$("#city-list").slideUp("100");
	}
});
</script>
{% endblock %}

{% block extracss %}
<style type="text/css">

div#people div.person {
  float: left;
  width: 80px;
  margin: 0 10px 10px 0;	
}

ul.explanation {
  padding: 0;
  margin: 0;
  list-style-type: none;	
  float: left;
}

ul.explanation li {
    border-color: #E1E1E1 #E9E9E9;
    border-style: solid;
    border-width: 0 1px 0 0;
    float: left;
    padding: 0 20px;
    width: 165px;
}

ul.explanation li.first {
  padding-left: 0;
}

ul.explanation li.done {
  opacity: 0.5;
}

ul.explanation li.last {
  border-right: none;	
  padding-right: 0;
}

ul.explanation li h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 1px 2px #fff;

}

ul.explanation li p {
  font-size: 12px;
  margin: 5px 0 0 0;	
}

div#city-list {
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    float: left;
    height: 200px;
    padding-top: 30px;
    width: 600px;
}

div#city-list a {
    display: inline;
    line-height: 1.6em;
    padding: 0;
}


</style>
{% endblock %}

{% block content %}
<div id="top">	
<h1>Welcome to {{ sitename }}</h1>
</div>

<p class="description">You've successfully registered and you can start posting and browsing right away.</p>

<ul class="explanation">
<li class="first{% if laowai.city %} done{% endif %}">

	{% if laowai.city %}
	<h3>Your city is {{ laowai.city }}</h3>
	<p>Any city in China that you live in, or want to know more about<br/>
	{% else %}
	<h3>Choose a city</h3>
	<p>Any city in China that you live in, or want to know more about<br/>
		<a id="set-city" href="#">Choose your city &raquo;</a>
			<div id="city-list" style="display:none;">
			{% for city in cities %}
			<a href="{% url set_city city.slug %}">{{ city.name }} ({{ city.chinese_name }})</a><br/>
			{% endfor %}
			</div>
	{% endif %}
			</p>
</li>
<li class="{% if laowai.photo %} done{% endif %}">
	{% if laowai.photo %}
	<h3>Photo added!</h3>
	<p>Great! The world can see your beautiful face now.</p>
	{% else %}
	<h3>Add your photo</h3>
	<p>Everyone looks better with a nice profile picture.<br/>
	<a href="{% url upload_profile_photo %}">Add a profile photo &raquo;</a>
	</p>
	{% endif %}
</li>
<li class="last">
	<h3>Start browsing</h3>
	<p>Check out places, information and news from your city<br/>
	{% if laowai.city %}
		<a href="{% url city laowai.city.slug %}">Browse {{ laowai.city }} &raquo;</a></p>
	{% else %}
		Choose a city first!</p>
	{% endif %}

</li>
</ul>




{% endblock %}
