{% extends "base.html" %}
{% load thumbnail %}

{% block metadescription %}A list of foreigners living in {{ city }}, China{% endblock %}
{% block pagetitle %}Home{% endblock %}

{% block extrajs %}
<script type="application/javascript">
$('#set-city').click(function () {
	if ($("#city-list").is(":hidden")) {
	$("#city-list").slideDown("100");
	} else {
	$("#city-list").slideUp("100");
	}
});
</script>
{% endblock %}

{% block extracss %}
<style type="text/css">

div#left input.button {
  width: 310px;	
}

div#left p {
  float: left;	
}

div.box {
    background-color: #F1F1F1;
    float: left;
    margin-bottom: 20px;
    padding: 10px 15px;
    width: 560px;
    border-radius: 10px;
    height: 140px;
}

div.box div.num {
    color: #999999;
    float: left;
    font-size: 70px;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    width: 50px;
}

div.box h3 {
   margin-top: 11px;
   color: #666;	
}

div.box p {
  font-size: 11px;
  color: #666;	
}

div.box div#cities {
  width: 450px;
  margin-top: 10px;	
}

div.box form {
  float: left;
  width: 450px;	
  margin-top: 10px;
}

div#left div.box input.save-photo-button {
  margin-top: 0;	
}

div.box div#cities a {
  background-color: #fff;	
}

div.box div#cities a.selected {
  color: #226e13;	
}

div.box img.profile-photo {
  float: left;
  border: 5px solid #fff;
  margin-top: 10px;	
}

div#people div.person {
  float: left;
  width: 80px;
  margin: 0 10px 10px 0;	
}

ul.explanation {
  padding: 0;
  margin: 0;
  list-style-type: none;	
  float: left;
}

ul.explanation li {
    border-color: #E1E1E1 #E9E9E9;
    border-style: solid;
    border-width: 0 1px 0 0;
    float: left;
    padding: 0 20px;
    width: 165px;
}

ul.explanation li.first {
  padding-left: 0;
}

ul.explanation li.done {
  opacity: 0.5;
}

ul.explanation li.last {
  border-right: none;	
  padding-right: 0;
}

ul.explanation li h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 1px 2px #fff;

}

ul.explanation li p {
  font-size: 12px;
  margin: 5px 0 0 0;	
}

div#city-list {
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    float: left;
    height: 200px;
    padding-top: 30px;
    width: 600px;
}

div#city-list a {
    display: inline;
    line-height: 1.6em;
    padding: 0;
}

h2 {
  margin: 10px 0 20px 0;
  font-weight: bold;
  font-size: 20px;	
  float: left;
  width: 560px;
}

a.finished {
  float: left;
  width: 560px;	
  font-size: 20px;
}
</style>
{% endblock %}

{% block content %}
<div id="top">	
<h1>Welcome {{ request.user.get_profile.name }}!</h1>
</div>

<p class="description"><em>Registration was successful - you're now a member of {{ sitename }}! You can start browsing news, events and places from cities in China, and posting your own information.</em></p>

{% with request.user.get_profile as laowai %}
	{% if laowai.city or laowai.photo %}
	    {% if not laowai.city or not laowai.photo %}
		<h2>Your profile is 50% complete!</h2>
		{% else %}
		<h2>Your profile is 100% complete!</h2>
		{% endif %}
	{% else %}
		<h2>Your profile is 0% complete</h2>
	{% endif %}


<div class="box">
	<div class="num">1</div>
	{% if not laowai.photo %}
		<h3>Add your profile photo</h3>
		<form action="{% url upload_profile_photo %}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="next" value="/whats-next/" />
		<input type="file" name="photo" id="id_photo" />
		<input type="submit" value="Save profile photo" class="save-photo-button button"/>
		</form>
	{% else %}
		<h3>Photo added - nice work!</h3>
		{% thumbnail laowai.photo "80x80" crop="center" as im %}
			<img class="profile-photo" src="{{ im.url }}">
		{% endthumbnail %}
	{% endif %}
</div>

<div class="box">
	<div class="num">2</div>
	{% if not laowai.city %}
		<h3>Where do you live in China?</h3>
	{% else %}
		<h3>Your home city is <span style="color: #226e13;">{{ laowai.city.name }}</span></h3>
	{% endif %}
	<p><em>This will be your 'home' city in China</em></p>
	<div id="cities">
		{% for city in all_cities %}
			<a class="button {% ifequal city laowai.city %}selected{% endifequal %}" href="{% url set_city city.slug %}">{{ city.name }}</a>
		{% endfor %}
	</div>
</div>

{% if laowai.city and laowai.photo %}
	<a href="{% url profile %}" class="button finished">Finished! Take me to my profile &raquo;</a>
{% else %}
<p style="float: left; font-size: 12px; font-weight: bold; margin-right: 20px;width:560px; text-align: right;"><a href="{% url profile %}">I don't care, take me to my profile page now &raquo;</a></p>
{% endif %}

{% endwith %}


{% endblock %}
