{% extends "base.html" %}
{% load thumbnail %}

{% block metadescription %}Add a place in {{ city }}{% endblock %}
{% block pagetitle %}Add a place{% endblock %}

{% block mapscripts %}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.1&services=true"></script>
{% endblock %} 

{% block extrajs %}
<script type="text/javascript">
var map = new BMap.Map("map_area");
var myGeo = new BMap.Geocoder();   
myGeo.getPoint("{{ city.centre_of_town }}", function(point){  
 if (point) {  
   map.centerAndZoom(point, 11);
   map.addControl(new BMap.NavigationControl()); 
   var marker = new BMap.Marker(point);
   marker.enableDragging(); 
   map.addOverlay(marker); 
   marker.addEventListener("dragend", function(e){
     var myGeo = new BMap.Geocoder();
     myGeo.getLocation(new BMap.Point(e.point.lng, e.point.lat), function(result){
       	  document.getElementById("id_location").value = result.address;
     	  $("#id_longitude").attr("value", e.point.lng);
     	  $("#id_latitude").attr("value", e.point.lat);
     	  $("#id_location").attr("value", result.address);
     });
   }); 
 }  
}, "{{ city.chinese_name }}");  

  


 
</script> 


<script type="application/javascript">
$(function(){
$('input').customInput();
}); 
</script>
{% endblock %}

{% block extracss %}
<style type="text/css">
div#left input.submit-place {
  background: url('/images/submit-place-button.png') no-repeat top left;
  border: medium none;
  height: 33px;
  margin: 10px 0 10px 0px;
  width: 142px;
  float: right;  
}

div#left input.submit-place:hover {
  cursor: pointer;
  background: url('/images/submit-place-button.png') no-repeat center left;	
}

div#left input.submit-place:active {
  cursor: pointer;
  background: url('/images/submit-place-button.png') no-repeat bottom left;	
}

div#categories {
  float: left;
  margin-bottom: 0px;
  width: 560px;	
  padding-bottom: 50px;
  border-bottom: 3px dotted #e1e1e1;
}

div#categories h4 {
  margin-top: 0;
  margin-bottom: 10px;	
}

div#maps {
  float: left;
  width: 560px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 3px dotted #e1e1e1;	
}

div#maps h4 {
  margin-bottom: 0px;	
}

div#maps p {
  font-size: 11px;
  margin: 0 0 10px 0;	
}

div#maps div#map_area {
  margin-bottom: 20px;	
}

div#maps span#close_map {
  font-size: 11px;	
  float: right;
  position: relative;
  top: -10px;
  color: #666;
}

div#maps span#close_map:hover {
  cursor: pointer;
  color: red;
}

.custom-radio { position: relative; }

.custom-radio input {
	position: absolute;
	left: 2px;
	top: 3px;
	margin: 0;
	z-index: 0;
}

.custom-radio label {
	display: block;
	position: relative;
	z-index: 1;
	font-size: 1.3em;
	padding-right: 1em;
	line-height: 1;
	margin: 0 0 .3em;
	cursor: pointer;
	height: 64px;
	width: 64px;
}

.custom-radio label span {
  font-size: 14px;
  position: relative;
  top: 70px;
  display: block;
  text-align: center;
  width: 100%;
}

.custom-radio label.one { 
	background: url('/images/eat.png') no-repeat top left; 
}

.custom-radio label.two { 
	background: url('/images/drink.png') no-repeat top left; 
}


.custom-radio label.three { 
	background: url('/images/do.png') no-repeat; 
}


.custom-radio label.four { 
	background: url('/images/see.png') no-repeat; 
}

.custom-radio label.five { 
	background: url('/images/buy.png') no-repeat; 
}

.custom-radio label {
  background-position: top left;	
}

.custom-radio label:hover {
  background-position: center left;	
}

.custom-radio label.checked {
  background-position: bottom left;	
}

.custom-radio label.checked:hover {
  background-position: bottom left;	
}

.custom-radio label:active {
  background-position: bottom left;	
}

</style>
{% endblock %}

{% block content %}

<div id="top">
<h1>Add a place in {{ city }}</h1>
</div>

<p class="description"><em>A place might be a coffee shop, a tourist destination, a gym or a clothes shop - anywhere that you can go and do/buy/see something. Please try to be as descriptive as possible, and give Chinese names if you know them.</em></p>

{% if form.errors %}
{{ form.errors }}
{% endif %}

{% for error in error_list %}
{{ error }}
{% endfor %}

<form action="." method="post">
<form action="." method="post">

<div style='display:none;'>
{% csrf_token %}
</div>
<div id="categories">
<h4>Give the place a category</h4>
<label for="id_category_0" class="one"><span>Eat</span></label>
<input type="radio" id="id_category_0" value="eat" name="category" />

<label for="id_category_1" class="two"><span>Drink</span></label>
<input type="radio" id="id_category_1" value="drink" name="category" />

<label for="id_category_2" class="three"><span>Do</span></label>
<input type="radio" id="id_category_2" value="do" name="category" />

<label for="id_category_3" class="four"><span>See</span></label>
<input type="radio" id="id_category_3" value="see" name="category" />

<label for="id_category_4" class="five"><span>Buy</span></label>
<input type="radio" id="id_category_4" value="buy" name="category" />
</div>



<div id="maps">
<h4>Give the place a location</h4>
<p><em>Drag and drop the marker to the location, and we'll find the street address automatically.</em></p>
<div id="map_area" style="width:560px; height:330px"></div>
<span id="close_map" style="display: none;">Close map</span>
<label for="id_location">Location</label> <input id="id_location" type="text" name="location" maxlength="200" />
<div style="display: none;">
	<input id="id_longitude" type="text" name="longitude" maxlength="200" value="" />
	<input id="id_latitude" type="text" name="latitude" maxlength="200" value="" />
</div>
</div>

<h4>Add some details</h4>
<label for="id_name">Name</label> <input id="id_name" type="text" name="name" maxlength="200" />
<label for="id_chinese_name">Chinese name</label> <input id="id_chinese_name" type="text" name="chinese_name" maxlength="200" />
<label for="id_description">Description</label> <textarea id="id_description" rows="10" cols="40" name="description"></textarea>



<div style="display:none;">
<label for="id_city">City:</label> 
<select name="city" id="id_city">
<option selected="selected" value="{{ city.id }}">{{ city }}</option>
</select>

</div>




<input type="submit" class="submit-place" value="">
</form>




{% endblock %}
