{% extends "base.html" %}
{% load thumbnail %}

{% block metadescription %}{{ event.description }}{% endblock %}
{% block pagetitle %}{{ event.title }} - {{ event.city }}{% endblock %}

{% block extracss %}
<style type="text/css">
.add-event {
  width: 142px;
  float: right;	
}

</style>

{% endblock %}

{% block content %}

<div id="top">
	{% if request.user.is_authenticated %}
		<a class="add-event button" href="{% url add_event city.slug %}"><span>Add an event</span></a>
	{% endif %}
<h1>Events in {{ city }}</h1>
</div>

<div class="event">
	<h2>{{ event.title }}</h2>
	<p class="added-by-metadata">{{ event.start_date|date:"d M Y" }} | <em>Added by <a href="{% url laowai event.owner.id %}">{{ event.owner.name }}</a></em></p>
	<p>{{ event.description }}</p>


</div>





{% endblock %}
