{% extends "base.html" %}
{% load thumbnail %}

{% block metadescription %}An up-to-date listing of places in {{ city }}, China{% endblock %}
{% block pagetitle %}Places in {{ city }}{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="/js/jquery.autoSuggest.js"></script>
<script type="text/javascript">

function filter(type) {
$.getJSON("/{{ city.slug }}/places/", {xhr: "true", filter: type, category: '{{ selected }}',},
  function(data) {
  	$('#places').children().remove();
  	$('#reset').attr('style', 'display:block');
  	$(data).appendTo('#places');
  });
}

$("#filters ul li a").click(function () { 
	$('#reset').attr('style', 'display:block'); 
});

$("#most_recent").click(function () { 
	filter("recent");
	$("#highest_rated").css('font-weight','normal').css('color', '');
	$('#most_recent').attr('style', 'font-weight: bold').css('color', '#000'); 
});
$("#highest_rated").click(function () { 
	filter("highest");
	$("#most_recent").css('font-weight','normal').css('color', '');
	$('#highest_rated').css('font-weight', 'bold').css('color', '#000'); 
});

$("#loading").ajaxStart(function(){
   $(this).show();
 });

$("#loading").ajaxStop(function(){
   $(this).hide();
 });



$(document).ready(function(){
var data = {items: [
   	{% for p in all_places %}{name: "{{ p.placename }}", value: "{{ p.placename }}"},{% endfor %}
]};
  $("input[type=text]").autoSuggest(data.items, {
  		selectedItemProp: "name", 
  		selectedValuesProp: "value", 
  		searchObjProps: "name", 
  		asHtmlID: "q",
  		selectionLimit: 1,
  	});
});


</script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="/css/autoSuggest.css">
<style type="text/css">

.add-place {
  float: right;
  width: 142px;
  position: relative;
  margin-bottom: 0px;	
  top: 0px;
}

div#places {
  float: left;
  width: 100%;	
}

div.place.wide {
  width: 500px;	
}

div.place {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;	
  padding-bottom: 20px;
  width: 260px;
  float: left;
  height: 140px;
  margin-right: 50px;
}

div.place.right {
  margin-right: 0;	
}

div.place p {
    float: left;
    font-size: 12px;
    margin: 5px 0 0;
}

div.place h3 {
  margin: 0 0 5px 0;
  padding: 0;	
  float: none;
}

div.ratings {
  width: 150px;
  float: left;
  margin-bottom: 5px;
}

div.verified {
  float: left;
  font-size: 10px;
  padding: 1px 3px;
  color: green;
  margin-right: 10px;	
}

div.ratings p {
  font-size: 10px;
  margin: 0 0px 0 5px;
  float: left;
  text-align: right;
  position: relative;
  top: 2px;	
}

div.ratings ul {
  float: left;	
}

	/*             styles for the star rater                */	
	.star-rating{
		list-style:none;
		margin: 0px;
		padding:0px;
		width: 90px;
		height: 18px;
		position: relative;
		overflow:hidden;
		background: url("/images/alt_star_small2.png") top left repeat-x;		
	}
	.star-rating li{
		padding:0px;
		margin:0px;
		width:25px;
		height:18px;
		/*\*/
		float: left;
		/* */
	}



	.star-rating li.current-rating{
		background: url("/images/alt_star_small2.png") left center;
		position: absolute;
		height: 18px;
		display: block;
		text-indent: -9000px;
		z-index: 1;
	}
	
	/* remove halo effect in firefox   */
	a:active{
		outline: none;
	}	

div#filters {
  margin-bottom: 20px;
  float: left;
  width: 380px;
  padding-bottom: 20px;	
}

div#filters div {
  float: left;	
}

div#filters div.right {
  text-align: right;
  float: left;
}

div#filters p {
  margin: 0;
  color: #999;
  line-height: 1.4em;
  font-size: 12px;	
}

div#filters ul {
  margin:0;
  padding: 0;
  list-style-type: none;
  display: inline;	
}

div#filters li {
  float: left;
  width: 32px;
  margin-right: 10px;	
}

div#filters li a {
  float: left;
  height: 32px;
  width: 32px;
  margin-right: 10px;	
}

div#filters li a span {
  font-size: 11px;
  font-weight: bold;
  position: relative;
  top: 35px;
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;	
}

div#filters li.eat a {
  background: url('/images/categories_small.png') no-repeat -128px 0;
}

div#filters li.drink a {
  background: url('/images/categories_small.png') no-repeat -160px 0;
}

div#filters li.do a {
  background: url('/images/categories_small.png') no-repeat -96px 0;
}

div#filters li.see a {
  background: url('/images/categories_small.png') no-repeat -64px 0;
}

div#filters li.buy a {
  background: url('/images/categories_small.png') no-repeat -32px 0;
}

div#filters li.eat a:hover {
  background-position: -128px center;
}

div#filters li.drink a:hover {
  background-position: -160px center;
}

div#filters li.do a:hover {
  background-position: -96px center;
}

div#filters li.see a:hover {
  background-position: -64px center;
}

div#filters li.buy a:hover {
  background-position: -32px center;
}

div#filters li.eat a:active, div#filters li.eat a.selected {
  background-position: -128px bottom;
}

div#filters li.drink a:active, div#filters li.drink a.selected {
  background-position: -160px bottom;
}

div#filters li.do a:active, div#filters li.do a.selected {
  background-position: -96px bottom;
}

div#filters li.see a:active, div#filters li.see a.selected {
  background-position: -64px bottom;
}

div#filters li.buy a:active, div#filters li.buy a.selected {
  background-position: -32px bottom;
}

div#filters li a:hover span {
  color: #666;	
}

div#filters li a.selected span {
  color: #666;	
}

a.small {
  font-size: 10px;	
}

span#most_recent:hover, span#highest_rated:hover {
  cursor: pointer;
  color: #F67B7B;	
}

div#left div#search {
  margin-left: 20px;	
}

div#left div#search input.search {
  width: 72px;	
}


</style>
{% endblock %}

{% block content %}

<div id="top">
	{% if request.user.is_authenticated %}
		<a class="add-place button" href="{% url add_place city.slug %}"><span>Add a place</span></a>
	{% else %}
		<p class="signup">
		<a href="{% url registration_register %}"><strong>Signup</strong></a> or <a href="/accounts/login/"><strong>login</strong></a> to add a place</p>
	{% endif %}
	
	<h1>Places in {{ city }}
	{% if request.user.is_superuser %} ({{ places.count }}){% endif %}
	</h1>
</div>

<div id="filters">
	<ul>
		<li class="eat">
			<a id="eat" class="{% ifequal selected 'eat' %}selected{% endifequal %}" href="?category=eat"><span>Eat</span></a>
		</li>
		<li class="drink">
			<a id="drink" class="{% ifequal selected 'drink' %}selected{% endifequal %}" href="?category=drink"><span>Drink</span></a>
		</li>
		<li class="do">
			<a id="do" class="{% ifequal selected 'do' %}selected{% endifequal %}" href="?category=do"><span>Do</span></a>
		</li>
		<li class="see">
			<a id="see" class="{% ifequal selected 'see' %}selected{% endifequal %}" href="?category=see"><span>See</span></a>
		</li>
		<li class="buy">
			<a id="buy" class="{% ifequal selected 'buy' %}selected{% endifequal %}" href="?category=buy"><span>Buy</span></a>
		</li>
	</ul>
		<div>

		<p>&laquo; Click an icon to filter places<br/>
		<span style="" id="most_recent">Most recent</span> | 
		<span style="" id="highest_rated">Highest rated</span>
		</p>
		</div>
		<div class="right">
		<br/><a class="small" id="reset" style="display:{% if selected %}block{% else %}none{% endif %}" href="{% url places city.slug %}">Reset filters</a>
		
		</div>
</div>

{% include "snippets/search_bar.html" %}


<div id="loading"><img src="/images/spinner.gif"/><br/>loading results...</div>
<div id="places">

{% include "places/snippets/place-list.html" %}
</div>




{% endblock %}
